@model Product
@using Newtonsoft.Json;
@using System.Text.RegularExpressions;
@{
    Layout = "_UserLayout";    
    
    @* var count_reviews=ViewBag.count_reviews as Dictionary<string,int>;
    
    var rating=ViewBag.rating_star;
    
    var review_list = ViewBag.review_list as List<Reviewdetail>; *@
    
    @* string manual_link = ViewBag.manual_link; *@
    
    var variants=ViewBag.variants as Dictionary<string,List<string>>;
    
    var product_by_category=ViewBag.product_by_category as List<Product>;

    string? product_discount=Model?.Discount.ToString();
    
    List<string> sizes=new List<string>();
    
    List<string> colors = new List<string>();

    int count_product_similar=0;
@*     
    List<string> versions=new List<string>();
    
    List<string> mirrors=new List<string>(); *@

    List<string> prices = new List<string>();

    if(variants!=null)
    {
        sizes=variants["sizes"];
        colors=variants["colors"];
        @* versions=variants["versions"];
        mirrors=variants["mirrors"]; *@
        prices=variants["prices"];
    }

    string sizes_json=JsonConvert.SerializeObject(sizes);

    string colors_json=JsonConvert.SerializeObject(colors);

    @* string version_json=JsonConvert.SerializeObject(versions);
    
    string mirror_json=JsonConvert.SerializeObject(mirrors); *@

    string price_json=JsonConvert.SerializeObject(prices);


    string current_status=Model?.Status=="Còn hàng"?"bg-label-success":"bg-label-danger";



   List<string> size_value=sizes.Where(p=>p!="").Select(p=>p).Distinct().ToList();

   List<string> color_value=colors.Where(p=>p!="").Select(p=>p).Distinct().ToList();

   @* List<string> version_value =versions.Where(p=>p!="").Select(p=>p).Distinct().ToList();

   List<string> mirror_value=mirrors.Where(p=>p!="").Select(p=>p).Distinct().ToList(); *@
    
    int nums_review=0;

    int img_count=0;
@* 
    if(review_list!=null)
    {
     nums_review=review_list.Count;
    } *@
    @* var count_stars=ViewBag.count_stars as Dictionary<string,int>;
    List<double> star_percen=new List<double>();   
   var stats_description=Html.Raw(Model?.Statdescription);
   Console.WriteLine(stats_description);
   var user=this.ViewContext.HttpContext.Session.GetString("UserName");
   Console.WriteLine("User id here is:"+user);
   
    for(int i=1;i<=5;i++)
    {
        if(count_stars.ContainsKey(i.ToString()) && count_reviews[Model?.ProductName]!=0)
        {   
            double value=(double)(count_stars[i.ToString()]/count_reviews[Model?.ProductName])*100;

            star_percen.Add(value);                        
        }
        else
        {
            star_percen.Add(0);
        }
    } *@
}

 <div
       class="bs-toast toast fade hide toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
       data-bs-dismiss="toast"
       style="cursor: pointer; position: fixed; top: 20px; right: 20px; z-index: 1050;"
       data-delay="3000"
       data-bs-autohide="true" 
       data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold" id="toast-title"></div>
                        </div>
                        <div class="toast-body" id="toast-message">                        
                        </div>
        </div>
 

<div class="page-content">
 
   <!--end breadcrumb-->
     <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="@Url.Action("HomePage","HomePage")">Home</a></li>
          <li class="breadcrumb-item"><a href="@Url.Action("Products","Products")">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">@Model?.ProductName</li>
        </ol>
      </nav>
    </div>
   </div>

   <!--start product details-->
   <section class="py-4">
    <div class="container">
       <div class="row g-4">
          <div class="col-12 col-xl-7">
            <div class="product-images">
                <div class="product-zoom-images">
           
              
            <div class="row row-cols-2 g-3">
                  @if(!string.IsNullOrEmpty(Model.Backavatar))
                {
                     <div class="col">
      @if(Model.Backavatar.Contains("http") || Model.Backavatar.Contains("https"))
                {      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="@Model.Backavatar">

                        <img src="@Model.Backavatar" class="img-fluid" alt="">
                        </div>
                 }
                 else
                 {
            <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="~/@Model.Backavatar.Substring(Model.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))">
                <img src="~/@Model.Backavatar.Substring(Model.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" class="card-img-top" alt="...">
                </div>
                 }                      
                    </div>
                }
            
     @if(!string.IsNullOrEmpty(Model.Frontavatar))
                { 
                     <div class="col">
                        @if(Model.Frontavatar.Contains("http") || Model.Frontavatar.Contains("https"))
                 {      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="@Model.Frontavatar">

                        <img src="@Model.Frontavatar" class="img-fluid" alt="">
                        </div>
                 }
                 else
                 {
             <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="~/@Model.Frontavatar.Substring(Model.Frontavatar.IndexOf("wwwroot")+("wwwroot".Length+1))">

                <img src="~/@Model.Frontavatar.Substring(Model.Frontavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" class="card-img-top" alt="...">
            </div>
                 }
                    </div>
                }

                @foreach(var img in Model.ProductImages)
                {
                    <div class="col">
                        @if(img.Avatar.Contains("http") || img.Avatar.Contains("https"))
                {       
                        <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="@img.Avatar">

                        <img src="@img.Avatar" class="img-fluid" alt="">
                        
                        </div>
                 }
                 else
                 {
            <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="~/@img.Avatar.Substring(img.Avatar.IndexOf("wwwroot")+("wwwroot".Length+1))">
                <img src="~/@img.Avatar.Substring(img.Avatar.IndexOf("wwwroot")+("wwwroot".Length+1))" class="card-img-top" alt="...">
            </div>
                 } 
                    </div>
                    }
                    @* <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="assets/images/product-images/03.jpg">
                        <img src="assets/images/product-images/03.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="assets/images/product-images/04.jpg">
                        <img src="assets/images/product-images/04.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="assets/images/product-images/05.jpg">
                        <img src="assets/images/product-images/05.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="assets/images/product-images/06.jpg">
                        <img src="assets/images/product-images/06.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="assets/images/product-images/07.jpg">
                        <img src="assets/images/product-images/07.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="assets/images/product-images/08.jpg">
                        <img src="assets/images/product-images/08.jpg" class="img-fluid" alt="">
                      </div>
                    </div> *@
                  </div><!--end row-->
                </div>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="product-info">
                  <h4 class="product-title fw-bold mb-1">@Model.ProductName</h4>
                  @* <div class="product-rating">
                    <div class="hstack gap-2 border p-1 mt-3 width-content">
                      <div><span class="rating-number">4.8</span><i class="bi bi-star-fill ms-1 text-warning"></i></div>
                      <div class="vr"></div>
                      <div>162 Ratings</div>
                    </div>
                  </div> *@
                  <hr>
                  <div class="product-price d-flex align-items-center gap-3">
                     <div class="h4 fw-bold text-danger" id="product-detail-price-@Model.Id">$@Model.Price</div>
                     @* <div class="h5 fw-light text-muted text-decoration-line-through">$2089</div>
                     <div class="h4 fw-bold text-danger">(70% off)</div>   *@
                  </div>
                  <p class="fw-bold mb-0 mt-1 text-success">inclusive of all taxes</p>
                  <div class="more-colors mt-4">
                    <h6 class="fw-bold mb-3">More Colors</h6>
                    <div class="d-flex align-items-center gap-3">
                    @foreach(var color in Model.Variants.DistinctBy(x=>x.Color))
                    {
                     if(color.Color==null)
                      {
                        continue;                                                                        
                      }
                      <div class="color-box color-border" style="background-color:@color.Color?.Colorname" 
                      title="@color.Color?.Colorname"  data-color-id="@color.Color?.Id" data-color-name="@color.Color?.Colorname"></div>
                      @* <div class="">
                        <a href="javascript:;">
                          <img src="assets/images/featured-products/02.webp" width="65" alt="">
                        </a>
                      </div>
                      <div class="">
                        <a href="javascript:;">
                          <img src="assets/images/featured-products/03.webp" width="65" alt="">
                        </a>
                      </div>
                      <div class="">
                        <a href="javascript:;">                            
                          <img src="assets/images/featured-products/04.webp" width="65" alt="">
                        </a>
                      </div> *@
                      }
                    </div>
                  </div>
                    
                  <div class="size-chart mt-4">
                    <h6 class="fw-bold mb-3">Select Size</h6>
                    <div class="d-flex align-items-center gap-2 flex-wrap">
                    @foreach(var size in Model.Variants.DistinctBy(x=>x.Size))
                    {
                  if(size.Size==null)
                    {
                        continue;
                    }
                     <div class="">
                       <button type="button" class="size-box" data-size-name="@size.Size?.Sizename" data-size-id="@size.Size?.Id">@size.Size?.Sizename</button>
                     </div>
                     @* <div class="">
                      <button type="button">S</button>
                    </div>
                     <div class="">
                      <button type="button">M</button>
                    </div>
                    <div class="">
                      <button type="button">L</button>
                    </div>
                    <div class="">
                      <button type="button">XL</button>
                    </div>
                    <div class="">
                      <button type="button">XXL</button>                      
                    </div> *@
                    }
                   </div>
                  </div>
               <div class="cart-buttons mt-3">
  <div class="buttons d-flex flex-column flex-lg-row gap-3 mt-4 align-items-center">
    <div class="input-group w-auto">
      <button class="btn btn-outline-dark btn-ecomm" type="button" id="decrease-num" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
      <input type="number" class="form-control text-center" id="quantity-value" style="width: 70px;" value="1" min="1">
      <button class="btn btn-outline-dark btn-ecomm" type="button" id="increase-num" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
    </div>
    <a href="javascript:;" id="add-cart-detail" data-product-id="@Model.Id" data-product-name="@Model.ProductName" class="btn btn-lg btn-dark btn-ecomm px-5 py-3 flex-grow-1"><i
                        class="bi bi-basket2 me-2"></i>Add to Cart</a>    @* <a href="javascript:;" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3"><i class="bi bi-suit-heart me-2"></i>Wishlist</a> *@
  </div>
</div>
                  <hr class="my-3">
                  <div class="product-info">
                    <h6 class="fw-bold mb-3">Category</h6>
                    <p class="mb-3"><a href="@Url.Action("ProductsByCategory","Products",new{category_name=Model.Category.CategoryName})">@Model.Category.CategoryName</a></p>
                    <h6 class="fw-bold mb-3">Status</h6>
                    <p class="mb-3 badge px-2 @current_status">@(Model.Status=="Còn hàng"?"In stock":"Out of stock")</p>
                    <h6 class="fw-bold mb-3">Product Details</h6>
                     <p class="mb-1">@(Html.Raw(Model.Description))</p>
                     @* <p class="mb-1">All the Lorem Ipsum generators on the Internet tend to repeat</p>
                     <p class="mb-1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
                     <p class="mb-1">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p> *@
                  </div>
                  @* <hr class="my-3"> *@
                  @* <div class="customer-ratings">
                    <h6 class="fw-bold mb-3">Customer Ratings</h6>
                      <div class="d-flex align-items-center gap-4 gap-lg-5 flex-wrap flex-lg-nowrap">
                        <div class="">
                          <h1 class="mb-2 fw-bold">4.8<span class="fs-5 ms-2 text-warning"><i class="bi bi-star-fill"></i></span></h1>
                          <p class="mb-0">3.8k Verified Buyers</p>
                        </div>
                        <div class="vr d-none d-lg-block"></div>
                        <div class="w-100">
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">5</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 75%"></div>
                            </div>
                            <p class="mb-0">1528</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">4</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                            </div>
                            <p class="mb-0">253</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">3</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 45%"></div>
                            </div>
                            <p class="mb-0">258</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">2</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 35%"></div>
                            </div>
                            <p class="mb-0">78</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">1</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%"></div>
                            </div>
                            <p class="mb-0">27</p>
                          </div>
                        </div>
                      </div>
                  </div> *@

                  @* <hr class="my-3"> *@
                  @* <div class="customer-reviews">
                    <h6 class="fw-bold mb-3">Customer Reviews (875)</h6>
                    <div class="reviews-wrapper">
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-green rounded-0">5<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">This is some content from a media component. You can replace this with any content and adjust it as needed. Some quick example text to build on the card title and make.</p>
                          <div class="review-img">
                            <img src="assets/images/featured-products/05.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">12 June 2020</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>68</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>24</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-green rounded-0">4<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">This is some content from a media component. You can replace this with any content.</p>
                          <div class="review-img">
                            <img src="assets/images/featured-products/02.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">15 June 2020</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>58</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>34</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-warning rounded-0 text-dark">3<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">This is some content from a media component. You can replace this with any content and adjust it as needed.</p>
                          <div class="review-img">
                            <img src="assets/images/featured-products/04.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">22 June 2022</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>98</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>41</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-danger rounded-0">2<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">You can replace this with any content and adjust it as needed. Some quick example text to build on the card title and make.</p>
                          <div class="review-img">
                            <img src="assets/images/featured-products/01.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">22 June 2022</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>26</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>89</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="text-center">
                        <a href="javascript:;" class="btn btn-ecomm btn-outline-dark">View All Reviws<i class="bi bi-arrow-right ms-2"></i></a>
                      </div>
                    </div>
                  </div> *@
            </div>
          </div>
       </div><!--end row-->
    </div>
  </section>
   <!--start product details-->


  <!--start product details-->
  <section class="section-padding">
    <div class="container">
      <div class="separator pb-3">
        <div class="line"></div>
        <h3 class="mb-0 h3 fw-bold">Similar Products</h3>
        <div class="line"></div>
      </div>
      <div class="similar-products">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
        @foreach(var product in product_by_category)
        {
         count_product_similar++;
        
        if(count_product_similar>6)
         {
            break;            
         }
        
        if(product.ProductName==Model.ProductName)
        {
            continue;            
        }       

        string regex_product=Regex.Replace(product.ProductName, @"[^\w\d+,]", "-");
        
        <div class="col">
            <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
            <div class="card rounded-0">
            @if(product.Backavatar.Contains("http") || product.Backavatar.Contains("https"))
                {       
               <img src="@product.Backavatar" class="card-img-top rounded-0" alt="">
                 }
                 else
                 {
              <img src="~/@Model.Backavatar.Substring(Model.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="" class="card-img-top rounded-0">
                 }
            
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">@product.ProductName</h5>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$@product.Price</div>
               
                </div>
              </div>
            </div>
            </a>
          </div>
          }
          @* <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/new-arrival/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/best-sellar/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/new-arrival/04.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/new-arrival/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
             </div>
             </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/trending-product/03.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
             </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/featured-products/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/trending-product/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="assets/images/trending-product/01.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
             <div class="card rounded-0">
              <img src="assets/images/trending-product/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div> *@

  
        </div>
        <!--end row-->
      </div>
    </div>
  </section>
 </div>

 <script>
    document.addEventListener('DOMContentLoaded', function () {
      
      var boxes = document.querySelectorAll(".color-box");

      var sizes = document.querySelectorAll(".size-box");



      const decrease_quantity_btn=document.querySelector("#decrease-num");
      const increase_quantity_btn=document.querySelector("#increase-num");
      const quantity_input=document.querySelector("#quantity-value");

      decrease_quantity_btn.addEventListener("click",()=>{
        const quantity_value=document.querySelector("#quantity-value");
        const product_price = document.querySelector("#product-price");
        product_price.textContent=`$${(parseInt(quantity_value.value)*(parseFloat(@Model.Price.Replace(",",".")).toFixed(2))).toFixed(2)}`;
        product_price.textContent=product_price.textContent.replace('.',',');

      });

      increase_quantity_btn.addEventListener("click",()=>{
        const quantity_value=document.querySelector("#quantity-value");
        const product_price = document.querySelector("#product-price");
        product_price.textContent=`$${(parseInt(quantity_value.value)*(parseFloat(@Model.Price.Replace(",",".")).toFixed(2))).toFixed(2)}`;
        product_price.textContent=product_price.textContent.replace('.',',');
      });

      quantity_input.addEventListener("change",()=>{
        const quantity_value=document.querySelector("#quantity-value");
        const product_price = document.querySelector("#product-price");
        product_price.textContent=`$${(parseInt(quantity_value.value)*(parseFloat(@Model.Price.Replace(",",".")).toFixed(2))).toFixed(2)}`;
        product_price.textContent=product_price.textContent.replace('.',',');
      });

    var list_variant=[];
     
     boxes.forEach(box => {
      box.addEventListener('click', () => {
        boxes.forEach(b => b.classList.remove('clicked'));
        box.classList.add('clicked');
        var color_id=box.getAttribute("data-color-id");
        for(let i =0;i<list_variant.length;i++)
        {
          let current_variant = list_variant[i];
          
          let current_variant_color=list_variant[i].Colorid;

          let current_variant_size=list_variant[i].Sizeid;

          if(current_variant_color==color_id)
          {
            sizes.forEach(size=>{
             var data_size_id=size.getAttribute("data-size-id");
             if(data_size_id!=current_variant_size)
             {
              size.classList.add("disabled");

              size.classList.remove("click-size");
             }
             else
             {
              size.classList.remove("disabled");
             }
            });
          } 
          
        }
      });
    });

      sizes.forEach(size => {
       size.addEventListener('click', () => {
        sizes.forEach(b => b.classList.remove('click-size'));
        size.classList.add('click-size'); 
         var size_id=size.getAttribute("data-size-id");
        for(let i =0;i<list_variant.length;i++)
        {
          let current_variant = list_variant[i];
          
          let current_variant_color=list_variant[i].Colorid;

          let current_variant_size=list_variant[i].Sizeid;

          if(current_variant_size==size_id)
          {
            boxes.forEach(box=>{
             var data_color_id=box.getAttribute("data-color-id");
             if(data_color_id!=current_variant_color)
             {
              box.classList.add("disabled");
              
              box.classList.remove("clicked");
             }
             else
             {
              box.classList.remove("disabled");
             }
            });
          } 
          
        }
      });
    });
 
const product_id=@Model.Id;

var variant_url='@Url.Action("VariantProduct","HomePage",new{id="__product_id__"})';

 variant_url=variant_url.replace("__product_id__",product_id);

   $.ajax({
      url:variant_url,
      type:'Get',
      contentType:false,
      processData:false,
      success:function(response)
      { 
        list_variant=JSON.parse(response.variant);
      },
      error:function(xhr,status)
      {
        alert(xhr.responseText);                
      }

   });

    var add_cart_details=document.querySelectorAll("#add-cart-detail");

    add_cart_details.forEach((cart,index)=>{
     cart.addEventListener("click",()=>{
     var product_id=cart.getAttribute("data-product-id");
     var product_name=cart.getAttribute("data-product-name");
     var product_price = document.getElementById(`product-detail-price-${product_id}`).innerHTML;
     var size_value='';
     var color_value ='';

     boxes.forEach(box=>{
       if(box.classList.contains("clicked"))
       {
        color_value=box.getAttribute("data-color-name");
       }
     });

     sizes.forEach(size=>{
       if(size.classList.contains("click-size"))
       {
        size_value=size.getAttribute("data-size-name");
       }
     });


     if(color_value=='' || size_value=='')
     {
       document.getElementById("toast-title").innerHTML="Add To Cart";
                
                document.getElementById("toast-message").innerHTML="Please select color and size";
                
                var toastEl = document.querySelector('.toast');

                toastEl.classList.add('bg-danger');
               
                var toast = new bootstrap.Toast(toastEl);
                
                toast.show();
          return;
     }
     
     let formData =new FormData();

     formData.append("product_id",product_id);

     formData.append("product_name",product_name);

     formData.append("price",product_price);

     formData.append("color",color_value);

     formData.append("size",size_value);

     formData.append("quantity",1);

      $.ajax({
            url:"@Url.Action("addItemToCart","Cart")",
            type:"POST",
            data:formData,
            contentType: false,
            processData: false,
            success:function(response)
            {   
                const status=response.status;
                const message = response.message;
                const data=response.data;
            if(data!="")
             {  
                $("#count-cart").text(data.length);

                sessionStorage.setItem("count-cart",data.length);
               
                var section_url="@Url.Action("SubCartPartialView","Cart")";
                   $.ajax({
                    url:section_url,
                    type:"POST",
                    success: function(partialHtml) {
                        $('#sub-cart-section').html(partialHtml); 
                    }
                });
            }
                document.getElementById("toast-title").innerHTML="Add To Cart";

                document.getElementById("toast-message").innerHTML=message;

                var toastEl = document.querySelector('.toast');


                if(status==1)
                {
                if(toastEl.classList.contains('bg-danger'))
                {
                  toastEl.classList.remove('bg-danger');
                }
                 toastEl.classList.add('bg-success');
                }
            else
            {   if(toastEl.classList.contains('bg-success'))
                {
                  toastEl.classList.remove('bg-success');
                }
                toastEl.classList.add('bg-danger');
            }
                var toast = new bootstrap.Toast(toastEl);
                
                 toast.show();
            },
            error:function(xhr, status, error)
            { 
                document.getElementById("toast-title").innerHTML="Add To Cart";
                document.getElementById("toast-message").innerHTML=xhr.responseText;
                var toastEl = document.querySelector('.toast');
                toastEl.classList.add('bg-danger');
                var toast = new bootstrap.Toast(toastEl);                
                toast.show();
            }
        });
     });
    });

    
    });

</script>



 