<!DOCTYPE html>
<html lang="en" data-bs-theme-value="@Environment.GetEnvironmentVariable("THEME")">
    @{
        var view_controller=ViewContext.RouteData.Values["controller"]?.ToString();
        var view_action = ViewContext.RouteData.Values["action"]?.ToString();
        string username="";
        string email="";
        string password = "";
        string avatar="";
        string id_user="";

        string logo_path="";
    
        
      if(!string.IsNullOrEmpty(Environment.GetEnvironmentVariable("Logo")))
      {
      string logo=Environment.GetEnvironmentVariable("Logo");
       string logo_extension=logo.Substring(logo.IndexOf("wwwroot")+("wwwroot".Length+1));
       
       logo_path=logo_extension;

       Console.WriteLine("Current logo admin path is:"+logo_path);
       }
        ChangePassword change_pass= null;
       if(User.Identity.IsAuthenticated)
       {
        id_user=this.ViewContext.HttpContext.Session.GetString("AdminId");
        Console.WriteLine("Id user is:"+id_user);
        username=this.ViewContext.HttpContext.Session.GetString("Username");
        email=this.ViewContext.HttpContext.Session.GetString("Email");
        password = this.ViewContext.HttpContext.Session.GetString("Password");
        avatar = this.ViewContext.HttpContext.Session.GetString("Avatar");
        change_pass=new ChangePassword(email,password,"");        
       }
        if(string.IsNullOrEmpty(id_user))
        { 
          Console.WriteLine("in here");
          Html.ActionLink("Index","LoginAdmin");          
        }
        Console.WriteLine("Current view controller is:"+view_controller);
        Console.WriteLine("Current action is:"+view_action);
    }
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce_Amazon</title>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TestComikApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css"/>
    <link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css"/>
    <link rel="icon" type="image/x-icon" href="~/@(logo_path)"/>
    <link rel="stylesheet" href="~/vendor/css/pages/page-misc.css"/>
    <link rel="stylesheet" href="~/vendor/fonts/boxicons.css"/>
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
    />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

       <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.12/js/plugins/colors.min.js"></script>

    
    <!-- Your existing script -->

    <link href="https://cdn.jsdelivr.net/npm/froala-editor@4.0.7/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

@* <link rel="styleshe.00et" href="~/vendor/libs/typeahead-js/typeahead.css" /> 
<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css"/>
<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" /> *@


           @* <script src="@(Url.Content("~/js/pages-account-settings-account.js"))"></script> *@
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KHS83JFC5Y"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-KHS83JFC5Y');
</script>

</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ecommerce_Product</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
 <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
         @if(view_controller!="Error" && view_controller!="LoginAdmin")
     { 
        <aside id="layout-menu" class="layout-menu menu-vertical menu">
          <div class="app-brand demo">
            <a href="@Url.Action("Dashboard","Dashboard")" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                  width="25"
                  viewBox="0 0 25 42"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <path
                      d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                      id="path-1"
                    ></path>
                    <path
                      d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                      id="path-3"
                    ></path>
                    <path
                      d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                      id="path-4"
                    ></path>
                    <path
                      d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                      id="path-5"
                    ></path>
                  </defs>
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g
                          id="Triangle"
                          transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1">
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Pages</span>
            </li>
              <li class="menu-item  @(view_controller=="Dashboard"?"active":"")">
              <a href="@Url.Action("Dashboard","Dashboard")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
           <li class="menu-item  @(view_controller=="GeneralInfo"?"active":"")">
              <a href="@Url.Action("GeneralInfo","GeneralInfo")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-info-circle"></i>
                <div data-i18n="Analytics">Thông tin chung</div>
              </a>
            </li>
            <li class="menu-item @(view_controller=="UserList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Account Settings">Khách hàng</div>                
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="UserList"||(view_controller=="UserList" && view_action=="UserListPaging"))?"active":"")">
                  <a href="/admin/user_list" class="menu-link">
                    <div data-i18n="Account">Danh sách khách hàng</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddUserList"?"active":"")">
                  <a href="/admin/user_list/add" class="menu-link">
                    <div data-i18n="Notifications">Thêm khách hàng</div>
                  </a>
                </li>
              </ul>
            </li>

              <li class="menu-item  @(view_controller=="AdminList"?"active open":"")">

              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account Settings">Admin</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="AdminList"||(view_controller=="AdminList" && view_action=="UserListPaging"))?"active":"")">
                  <a href="/admin/admin_list" class="menu-link">
                    <div data-i18n="Account">Danh sách Admin</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddAdminList"?"active":"")">
                  <a href="/admin/admin_list/add" class="menu-link">
                    <div data-i18n="Notifications">Thêm Admin</div>
                  </a>
                </li>
              </ul>
            </li>


              <li class="menu-item @(view_controller=="CategoryList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Category</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="CategoryList"||view_action=="CategoryListPaging")?"active":"")">
                  <a href="/admin/category_list" class="menu-link">
                    <div data-i18n="Account">Danh sách category</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddCategory"?"active":"")">
                  <a href="/admin/category_list/add" class="menu-link">
                    <div data-i18n="Notifications">Thêm Category</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="BrandList"?"active":"")">
                  <a href="/admin/brand_list" class="menu-link">
                    <div data-i18n="Notifications">Danh sách Brand</div>
                  </a>
                </li>
              </ul>
            </li>  

              <li class="menu-item @(view_controller=="ProductList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cart-alt"></i>
                <div data-i18n="Account Settings">Sản phẩm</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="ProductList"||view_action=="ProductListPaging")?"active":"")">
                  <a href="@Url.Action("ProductList","ProductList")" class="menu-link">
                    <div data-i18n="Account">Danh sách sản phẩm</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddProductList"?"active":"")">
                  <a href="@Url.Action("AddProductList","ProductList")" class="menu-link">
                    <div data-i18n="Notifications">Thêm sản phẩm</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="SortProductList"?"active":"")">
                  <a href="@Url.Action("SortProductList","ProductList")" class="menu-link">
                    <div data-i18n="Notifications">Sắp xếp sản phẩm</div>
                  </a>
                </li>
                 <li class="menu-item @(view_action=="SortProminentProductList"?"active":"")">
                  <a href="@Url.Action("SortProminentProductList","ProductList")" class="menu-link">
                    <div data-i18n="Notifications">Sắp xếp sản phẩm nổi bật</div>
                  </a>
                </li>
              </ul>
            </li>      

               @* <li class="menu-item @(view_controller=="StaticFiles"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Account Settings">Trang tĩnh</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @(view_action=="StaticFiles"?"active":"")">
                  <a href="@Url.Action("StaticFiles","StaticFiles")" class="menu-link">
                    <div data-i18n="Account">Danh sách trang tĩnh</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddStaticFiles"?"active":"")">
                  <a href="@Url.Action("AddStaticFiles","StaticFiles")" class="menu-link">
                    <div data-i18n="Notifications">Thêm trang tĩnh</div>
                  </a>
                </li>
              </ul>
            </li>  *@

            <li class="menu-item @(view_controller=="PaymentList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-money"></i>
                <div data-i18n="Account Settings">Thanh toán</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="PaymentList"||view_action=="PaymentPaging")?"active":"")">
                  <a href="@Url.Action("PaymentList","PaymentList")" class="menu-link">
                    <div data-i18n="Account">Danh sách phương thức thanh toán</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddPayment"?"active":"")">
                  <a href="@Url.Action("AddPayment","PaymentList")" class="menu-link">
                    <div data-i18n="Notifications">Thêm phương thức thanh toán</div>
                  </a>
                </li>
              </ul>
            </li>    

             @* <li class="menu-item @(view_controller=="BlogList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-news"></i>
                <div data-i18n="Account Settings">Tin tức</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="BlogList"||view_action=="BlogListPaging")?"active":"")">
                  <a href="@Url.Action("BlogList","BlogList")" class="menu-link">
                    <div data-i18n="Account">Danh sách các bài viết</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddBlog"?"active":"")">
                  <a href="@Url.Action("AddBlog","BlogList")" class="menu-link">
                    <div data-i18n="Notifications">Thêm bài</div>
                  </a>
                </li>
              </ul>
            </li>     *@


            
              @* <li class="menu-item @(view_controller=="BannerList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-images"></i>
                <div data-i18n="Account Settings">Cấu hình banner</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @(view_action=="BannerList"?"active":"")">
                  <a href="@Url.Action("BannerList","BannerList")" class="menu-link">
                    <div data-i18n="Account">Danh sách banner</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddBanner"?"active":"")">
                  <a href="@Url.Action("AddBanner","BannerList")" class="menu-link">
                    <div data-i18n="Notifications">Thêm banner</div>
                  </a>
                </li>
              </ul>
            </li>  *@
@* 
                <li class="menu-item @(view_controller=="ManualList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-book"></i>
                <div data-i18n="Account Settings">Hướng dẫn sử dụng sản phẩm</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @(view_action=="ManualList"?"active":"")">
                  <a href="@Url.Action("ManualList","ManualList")" class="menu-link">
                    <div data-i18n="Account">Danh sách các hướng dẫn sử dụng</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddManual"?"active":"")">
                  <a href="@Url.Action("AddManual","ManualList")" class="menu-link">
                    <div data-i18n="Notifications">Thêm hướng dẫn sử dụng</div>
                  </a>
                </li>
              </ul>
            </li>   *@

            
             @* <li class="menu-item @(view_controller=="VideoList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-video"></i>
                <div data-i18n="Account Settings">Video sản phẩm</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="VideoList"||view_action=="VideoListPaging")?"active":"")">
                  <a href="@Url.Action("VideoList","VideoList")" class="menu-link">
                    <div data-i18n="Account">Danh sách các video</div>
                  </a>
                </li>
                <li class="menu-item @(view_action=="AddVideo"?"active":"")">
                  <a href="@Url.Action("AddVideo","VideoList")" class="menu-link">
                    <div data-i18n="Notifications">Thêm Video</div>
                  </a>
                </li>
              </ul>
            </li>   *@

            @* <li class="menu-item @(view_controller=="OrderList"?"active open":"")">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-purchase-tag"></i>
                <div data-i18n="Account Settings">Hóa đơn</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item @((view_action=="OrderList"||view_action=="OrderListPaging")?"active":"")">
                  <a href="@Url.Action("OrderList","OrderList")" class="menu-link">
                    <div data-i18n="Account">Danh sách hóa đơn</div>
                  </a>
                </li>
              </ul>
            </li>     *@
            @* <li class="menu-item @(view_controller=="Firebase"?"active":"")">
              <a href="@Url.Action("Firebase","Firebase")" class="menu-link">
                <i class="menu-icon tf-icons bx bxl-firebase"></i>
                <div data-i18n="Account Settings">Thông báo Firebase</div>                                
              </a>
            </li>   *@
                @* <li class="menu-item @(view_controller=="SettingList"?"active":"")">
              <a href="@Url.Action("SettingList","SettingList")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Account Settings">Cài đặt</div>
              </a>
            </li>     *@
          </ul>          
        </aside>
        }
        <div class="layout-page">
          <!-- Navbar -->
        @if(!view_controller.Contains("Error") && !view_controller.Contains("LoginAdmin"))
        {
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->

<li class="nav-item dropdown me-2 me-xl-0">
          <a class="nav-link dropdown-toggle hide-arrow" id="nav-theme" href="javascript:void(0);" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)" aria-expanded="false">
            <i class="bx-moon icon-base bx icon-md theme-icon-active"></i>
            <span class="d-none ms-2" id="nav-theme-text">Toggle theme</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-theme-text">
            <li>
              <button type="button" class="dropdown-item align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <span><i class="icon-base bx bx-sun icon-md me-3" data-icon="sun"></i>Light</span>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                <span><i class="icon-base bx bx-moon icon-md me-3" data-icon="moon"></i>Dark</span>
              </button>
            </li>
          </ul>
        </li>
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="@avatar" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="@avatar" alt class="w-px-40 h-auto rounded-circle"/>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">@username</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="@Url.Action("AdminInfo","AdminList",new{email=email})">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Thông tin người dùng</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="@Url.Action("ChangePassword","LoginAdmin",new{username=username,email=email,password=password})">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Đổi mật khẩu</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>                      
                    </li>
                    <li>
                      <a class="dropdown-item" href="@Url.Action("Logout","LoginAdmin")">
                        <i class="bx bx-power-off me-2"></i>
                      <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>



                
              
                
              </ul>
            </div>
          </nav>
          }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
      </div>
 </div>
   @if(view_controller!="Error" && view_controller!="LoginAdmin")
   {
   <footer class="content-footer footer">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by QuanHK      
                </div>
                <div>
                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Liên hệ</a
                  >
                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Hỗ trợ</a
                  >
                </div>
              </div>
            </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="~/vendor/js/helpers.js"></script>
    <script src="~/js/template-customizer.js"></script>
    <script src="~/js/helpers.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/vendor/libs/jquery/jquery.js"></script>
    <script src="~/vendor/libs/popper/popper.js"></script>
    <script src="~/vendor/js/bootstrap.js"></script>
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/js/menu.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/ui-modals.js"></script> 
    <script src="~/js/pages-account-settings-account.js"></script>
    @* <script src="~/vendor/libs/apex-charts/apexcharts.js"></script> *@
    <script src="~/js/dashboards-analytics.js"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.7/js/froala_editor.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@4.0.7/js/froala_editor.pkgd.min.js"></script>

<script>

  document.addEventListener("DOMContentLoaded", function() {
        const theme=localStorage.getItem("THEME");
        
        document.documentElement.setAttribute('data-bs-theme', theme);
      
      const dark_button=document.querySelector("[data-bs-theme-value='dark']");
    const light_button=document.querySelector("[data-bs-theme-value='light']");

    if(theme==='dark')
    {
      dark_button.setAttribute('aria-pressed', 'true');
      dark_button.classList.add('active');
      light_button.setAttribute('aria-pressed', 'false');
      light_button.classList.remove('active');
    }
    else
    {
      light_button.setAttribute('aria-pressed', 'true');
      light_button.classList.add('active');
      dark_button.setAttribute('aria-pressed', 'false');
      dark_button.classList.remove('active');
    }
   
    dark_button.addEventListener("click",function(){
     document.documentElement.setAttribute('data-bs-theme', 'dark');
     dark_button.setAttribute('aria-pressed', 'true');
     dark_button.classList.add('active');
     light_button.setAttribute('aria-pressed', 'false');
     light_button.classList.remove('active');

     localStorage.setItem("THEME",'dark');
    });

    light_button.addEventListener("click",function(){
     document.documentElement.setAttribute('data-bs-theme', 'light');
     light_button.setAttribute('aria-pressed', 'true');
     light_button.classList.add('active');
     dark_button.setAttribute('aria-pressed', 'false');
     dark_button.classList.remove('active');
     
     localStorage.setItem("THEME",'light');

    });
    });

   
</script>

   @* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  *@
    @await RenderSectionAsync("Scripts", required: false)
@* <script async defer src="https://buttons.github.io/buttons.js"></script> *@

</body>
</html>
