 
 @model List<CartModel>
 @using System.Globalization;
 @using System.Text.RegularExpressions;
 @inject IHttpContextAccessor HttpContextAccessor
 @{
    Layout="_UserLayout";
    var user=ViewBag.user as ApplicationUser;
    var company_user=  ViewBag.company as ApplicationUser;
    var payment_methods=ViewBag.payment_methods as List<Payment>;
    Console.WriteLine(payment_methods.Count);
    int total_value=0;
    var siteKey=ViewBag.SiteKey;
    var message_checkout=ViewBag.Message;
    var status_checkout = ViewBag.Status;
    var account= ViewBag.Account;
    var saved_account= ViewBag.SavedAccount;
    string paypal_client_id=Environment.GetEnvironmentVariable("PAYPAL_CLIENT_ID");
     string username="";
     string password="";
 if(account!=null)
  {  string[] account_part=account.Split('\n');
     username=account_part[0];
     password=account_part[1];
  }
    
    string[] email_list=company_user.Email.Split('#');
    
    string email=email_list[0];
    
    string extra_info=email_list[1];
    
    string bank_name="";
    
    string account_num="";
    
    string account_name="";
    
    string bank_value="";

    string qr_code=Environment.GetEnvironmentVariable("qr_code");    

    if(!string.IsNullOrEmpty(extra_info))
    {
      string[] info_values=extra_info.Split('\n');

      foreach(var info in info_values)
      {
        if(info.Contains("bank_name"))
        {
          bank_value=info.Split('~')[1].Trim();
        }
        else if(info.Contains("account_name"))
        {
          account_name=info.Split('~')[1].Trim();
        }
        else if(info.Contains("account_num"))
        {
       account_num=info.Split('~')[1].Trim();
        }
      }
    }
    if(!string.IsNullOrEmpty(bank_value))
    {
      var bank_detail=bank_value.Split('*');
      bank_name=bank_detail[0];
    }

      double total_amount=0;
    double total_delivery=Model.Count>0?5:0;
    foreach(var item in Model)
    {
        double discount=string.IsNullOrEmpty(item.Product.Discount.ToString()) ? 0 : Convert.ToInt32(item.Product.Discount);
        
        string price_value=!string.IsNullOrEmpty(item.Price) ? item.Price : item.Product.Price;
        
        price_value=price_value.Replace("$","").Replace(",",".");
        
        double current_price=(double.Parse(price_value,CultureInfo.InvariantCulture)-(double.Parse(price_value,CultureInfo.InvariantCulture)*(discount)/100));
        
        total_amount+=current_price*item.Quantity;           
    }

    Console.WriteLine("Sitekey here is:"+siteKey);     
 } 

 <div
       class="bs-toast toast fade hide bg-danger toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
        data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold" id="toast-title-error"></div>
                        </div>
                        <div class="toast-body" id="toast-message-error">
                        </div>
                      </div>
           


@Html.AntiForgeryToken()        
  
  <div
       class="bs-toast toast fade hide toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"       
       data-bs-dismiss="toast"
       style="cursor: pointer; position: fixed; top: 20px; right: 20px; z-index: 1050;"
       data-delay="3000"
       data-bs-autohide="true" 
       data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold" id="toast-title"></div>
                        </div>
                        <div class="toast-body" id="toast-message">
                        </div>
    </div>
    
    
    <div class="page-content">
   <div class="py-5 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="@Url.Action("HomePage","HomePage")">Home</a></li>
          <li class="breadcrumb-item"><a href="@Url.Action("Cart","Cart")">Cart</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </nav>
    </div>
   </div> 
	<section class="py-5">
					<div class="container">
						<div class="shop-cart">
							<div class="row">
								<div class="col-12 col-xl-8">
									<div class="checkout-review">
										<div class="card bg-transparent rounded-0 shadow-none">
											<div class="card-body">
												<div class="steps steps-light">
													<a class="step-item active" href="@Url.Action("Cart","Cart")">
														<div class="step-progress"><span class="step-count">1</span>
														</div>
														<div class="step-label"><i class='bx bx-cart'></i>Cart</div>
													</a>
													<a class="step-item active" href="@Url.Action("Checkout","Checkout")">
														<div class="step-progress"><span class="step-count">2</span>
														</div>
														<div class="step-label"><i class='bx bx-user-circle'></i>Details</div>
													</a>

													<a class="step-item active" href="@Url.Action("CheckoutPayment","Checkout",new{id=HttpContextAccessor.HttpContext.Session.GetString("UserId")})">
														<div class="step-progress"><span class="step-count">3</span>
														</div>
														<div class="step-label"><i class='bx bx-credit-card'></i>Payment</div>
													</a>
													<a class="step-item active current" href="@Url.Action("CheckoutReview","Checkout",new{id=HttpContextAccessor.HttpContext.Session.GetString("UserId")})">
														<div class="step-progress"><span class="step-count">4</span>
														</div>
														<div class="step-label"><i class='bx bx-check-circle'></i>Review</div>
													</a>
												</div>
											</div>
										</div>
										<div class="card  rounded-0 shadow-none mb-3 border">
											<div class="card-body">
												<h5 class="mb-0">Review Your Order</h5>
												<div class="my-3 border-bottom"></div>
                                            @foreach(var item in Model)
                                            {
												<div class="row align-items-center g-3">
													<div class="col-12 col-lg-6">
														<div class="d-lg-flex align-items-center gap-3">
													      <div class="cart-img text-center text-lg-start">
                       @if(item.Product.Backavatar.Contains("https") || item.Product.Backavatar.Contains("http"))
                          {
                          <img src="@item.Product.Backavatar" style="width:75px!important;" class="card-img-top" alt="...">
                          }
                          else
                          {
                            <img src="~/@item.Product.Backavatar.Substring(item.Product.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" style="width:75px!important;" class="card-img-top" alt="...">
                          }									</div>
															<div class="cart-detail text-center text-lg-start">
																<h6 class="mb-2">@item.Product.ProductName</h6>
																<p class="mb-0">Size:<span>@item.Size</span>
																</p>
																<p class="mb-2">Color: <span>@item.Color</span>
																</p>
																<h5 class="mb-0">@item.Price</h5>
															</div>
														</div>
													</div>
													<div class="col-12 col-lg-3">
														<div class="cart-action text-center">
															<input type="number" id="new-quantity-item" class="form-control rounded-0" value="@item.Quantity" min="1">
														</div>
													</div>
													<div class="col-12 col-lg-3">
														<div class="text-center">
															<div class="d-flex gap-2 justify-content-center justify-content-lg-end"> <a href="javascript:;"  id="remove-item" data-product-id="@item.Product.Id" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-x-circle me-0'></i></a>
																<a href="javascript:;" id="update-quantity-item" data-product-id="@item.Product.Id" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-edit'></i>Update</a>
															</div>
														</div>
													</div>
												</div>
												<div class="my-4 border-top"></div>
                                                }
											</div>
										</div>
										<div class="card rounded-0 shadow-none mb-3 border">
											<div class="card-body">
												<div class="row">
													<div class="col-md-6">
														<div class="shipping-aadress">
															<h5 class="mb-3">Shipping to:</h5>
															<p class="mb-1"><span class="text-dark">Customer:</span> Jhon Michle</p>
															<p class="mb-1"><span class="text-dark">Address:</span> 47-A, Street Name, City, Australia</p>
															<p class="mb-1"><span class="text-dark">Phone:</span> (123) 472-796</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class="payment-mode">
															<h5 class="mb-3">Payment Mode:</h5>
															<img src="assets/images/icons/visa.png" width="150" class="p-2 border bg-light rounded" alt="">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="card rounded-0 shadow-none mb-3 border">
											<div class="card-body">
												<div class="row">
													<div class="col-md-6">
														<div class="d-grid"><a href="@Url.Action("CheckoutPayment","CheckoutPayment")" class="btn btn-light btn-ecomm"><i class="bx bx-chevron-left"></i>Back to Payment</a>
														</div>
													</div>
													<div class="col-md-6">
														<div class="d-grid"><a href="checkout-complete.html" class="btn btn-outline-dark btn-ecomm">Complete Order<i class="bx bx-chevron-right"></i></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-xl-4">
									<div class="order-summary">
										<div class="card rounded-0">
											<div class="card-body">
												@* <div class="card rounded-0 border bg-transparent shadow-none mb-3">
													<div class="card-body">
														<p class="fs-5">Apply Discount Code</p>
														<div class="input-group">
															<input type="text" class="form-control rounded-0" placeholder="Enter discount code">
															<button class="btn btn-dark btn-ecomm" type="button">Apply</button>
														</div>
													</div>
												</div> *@
												<div class="card rounded-0 border bg-transparent shadow-none">
													<div class="card-body">
														<p class="fs-5">Order summary</p>
                                                    @foreach(var item in Model)
                                                    {
                                                    string regex_product=Regex.Replace(item.Product.ProductName, @"[^\w\d+,]", "-");

														<div class="my-3 border-top"></div>
														<div class="d-flex align-items-center">
															<a class="d-block flex-shrink-0" href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
                        @if(item.Product.Backavatar.Contains("https") || item.Product.Backavatar.Contains("http"))
                          {
                          <img src="@item.Product.Backavatar" style="width:75px !important;" class="card-img-top" alt="...">
                          }
                          else
                          {
                            <img src="~/@item.Product.Backavatar.Substring(item.Product.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" style="width:75px !important;" class="card-img-top" alt="...">
                          }															</a>
															<div class="ps-2">
																<h6 class="mb-1"><a href="javascript:;" class="text-dark">@item.Product.ProductName</a></h6>
																<div class="widget-product-meta"><span class="me-2">@item.Price</span><span class="">x @item.Quantity</span>
																</div>
															</div>
														</div>
                                                        }
														@* <div class="my-3 border-top"></div>
														<div class="d-flex align-items-center">
															<a class="d-block flex-shrink-0" href="javascript:;">
																<img src="assets/images/products/17.png" width="75" alt="Product">
															</a>
															<div class="ps-2">
																<h6 class="mb-1"><a href="javascript:;" class="text-dark">Fancy Red Sneakers</a></h6>
																<div class="widget-product-meta"><span class="me-2">$16.<small>00</small></span><span class="">x 2</span>
																</div>
															</div>
														</div>
														<div class="my-3 border-top"></div>
														<div class="d-flex align-items-center">
															<a class="d-block flex-shrink-0" href="javascript:;">
																<img src="assets/images/products/04.png" width="75" alt="Product">
															</a>
															<div class="ps-2">
																<h6 class="mb-1"><a href="javascript:;" class="text-dark">Yellow Shine Blazer</a></h6>
																<div class="widget-product-meta"><span class="me-2">$22.<small>00</small></span><span class="">x 1</span>
																</div>
															</div>
														</div>
														<div class="my-3 border-top"></div>
														<div class="d-flex align-items-center">
															<a class="d-block flex-shrink-0" href="javascript:;">
																<img src="assets/images/products/09.png" width="75" alt="Product">
															</a>
															<div class="ps-2">
																<h6 class="mb-1"><a href="javascript:;" class="text-dark">Men Black Hat Cap</a></h6>
																<div class="widget-product-meta"><span class="me-2">$14.<small>00</small></span><span class="">x 1</span>
																</div>
															</div>
														</div> *@
													</div>
												</div>
												<div class="card rounded-0 border bg-transparent mb-0 shadow-none">
													<div class="card-body">
														<p class="mb-2">Subtotal: <span class="float-end">$@total_amount</span>
														</p>
														<p class="mb-2">Shipping: <span class="float-end">$@total_delivery</span>
														</p>
													
														<div class="my-3 border-top"></div>
														<h5 class="mb-0">Order Total: <span class="float-end">$@(total_amount+total_delivery)</span></h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
    </div>
  
  @* <div class="page-banner-area page-banner-height-2" data-background="@Url.Content("~/user_layout/img/banner/page-banner-4.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">Thanh toán</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                   <nav class="breadcrumb-trail breadcrumbs">
                                      <ul class="breadcrumb-menu">
                                         <li class="breadcrumb-trail">
                                            <a href="@Url.Action("HomePage","HomePage")"><span>Trang chủ</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <span>Thanh toán</span>
                                         </li>
                                      </ul>
                                   </nav> 
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@

        @* <section class="coupon-area pt-120 pb-30">
            <div class="container">
            <div class="row">
            <div class="col-md-6">
                <div class="coupon-accordion">
                  @if(!(User.Identity.IsAuthenticated && User.IsInRole("User")))
                  {
                        <!-- ACCORDION START -->
                        <h3>Bạn đã có tài khoản?<span id="showlogin">Nhấn vào đây để đăng nhập
                        </span></h3>
                        <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                            <form id="signinForm" method="POST" asp-action="MyAccount" asp-controller="MyAccount">
                                    <p class="form-row-first">
                                    <label>Tên đăng nhập<span class="required">*</span></label>
                                    <input type="text" name="username" id="username" value="@(!string.IsNullOrEmpty(username)?username:"")">
                                    <span class="text-danger" id="username-error"></span><br>
                                    </p>
                                    <p class="form-row-last">
                                    <label>Mật khẩu<span class="required">*</span></label>
                                    <input type="password" name="password" id="password" value="@(!string.IsNullOrEmpty(password)?password:"")" autocomplete>
                                <span class="text-danger" id="password-error"></span><br>
                                    </p>
                                    <p class="form-row">
                                    <button class="tp-btn-h1" type="submit">Đăng nhập</button>
                                    <label>
                                    @if(saved_account!=null && saved_account)
                                    {
                                     <input type="checkbox" name="rememberme" value="true" checked>
                                     }
                                     else
                                     {
                                    <input type="checkbox" name="rememberme" value="true">
                                     }
                                     Nhớ mật khẩu
                                    </label>
                                    </p>
                                    <p class="lost-password">
                                    <a href="@Url.Action("ForgotPassword","MyAccount")">Quên mật khẩu?</a>
                                    </p>
                                    <div class="g-recaptcha mt-3" data-sitekey="@siteKey"></div>
                            </form>
                        </div>
                        </div>
                        }
                </div>
            </div>
          
            </div>
        </div>
        </section> *@
        <!-- coupon-area-end -->

        @* <!-- checkout-area-start -->
        <section class="checkout-area pb-85">
            <div class="container">
                <form id="checkout-form" method="POST" asp-action="CheckoutOrder" asp-controller="Checkout">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkbox-form">
                                <h3>Chi tiết thông tin</h3>
                                <div class="row">                                
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Tên<span class="required">*</span></label>
                                            <input type="text" placeholder="Nhập tên" name="username" id="user-name" value="@(user!=null?user.UserName:"")" @(user!=null?"readonly":"")>
                                        <span class="text-danger" id="name-error"></span>
                                        <br>
                                        </div>
                                    </div>
                               
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Địa chỉ<span class="required">*</span></label>                                            
                                            <input type="text" placeholder="Nhập địa chỉ giao hàng" id="address" name="address1" value="@(user!=null?!string.IsNullOrEmpty(user.Address2)?user.Address2:user.Address1:"")">
                                            <span class="text-danger" id="address-error"></span><br>                                            
                                        </div>
                                    </div>
                               
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Email<span class="required">*</span></label>
                                            <input type="email" placeholder="Nhập Email của bạn" id="email" name="email" value="@(user!=null?user.Email:"")"  @(user!=null?"readonly":"")>      
                                            <span class="text-danger" id="email-error"></span><br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="basic-login">
                                            <label>Số điện thoại<span class="required">*</span></label>
                                            <input type="number" placeholder="Nhập số điện thoại của bạn" id="phone" name="phonenumber" value="@(user!=null?user.PhoneNumber:"")"  @(user!=null?"readonly":"")>
                                        <span class="text-danger" id="phone-error"></span><br>
                                        </div>
                                    </div>
                               
                                </div>

                                <div class="different-address">
                                 
                                    <div class="order-notes">
                                        <div class="checkout-form-list">
                                            <label>Ghi chú đơn hàng</label>
                                            <textarea id="checkout-mess" name="note" cols="30" rows="10" placeholder="Các yêu cầu ghi chú khi giao hàng."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="your-order mb-30 ">
                                <h3>Đơn hàng của bạn</h3>
                                <div class="your-order-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-name">Sản phẩm</th>
                                                <th class="product-total">Tổng cộng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          @foreach(var item in Model)
                                          { 
                                          int discount=string.IsNullOrEmpty(item.Product.Discount.ToString()) ? 100 : Convert.ToInt32(item.Product.Discount);
                                          
                                          string price_value=!string.IsNullOrEmpty(item.Price) ? item.Price : item.Product.Price;

                                          total_value+=(Convert.ToInt32(price_value)-(Convert.ToInt32(price_value)*(discount)/100))*item.Quantity;
                                           
                                           string variant_info="";
                                           
                                           if(!string.IsNullOrEmpty(item.Size))
                                           {
                                            if(string.IsNullOrEmpty(variant_info))
                                            {
                                                variant_info+=item.Size;                                                                                                
                                            }
                                            else
                                            {
                                                variant_info+="/"+item.Size;
                                            }
                                           }
                                            if(!string.IsNullOrEmpty(item.Color))
                                           {
                                            if(string.IsNullOrEmpty(variant_info))
                                            {
                                                variant_info+=item.Color;
                                            }
                                            else
                                            {
                                                variant_info+="/"+item.Color;
                                            }
                                           }
                                        
                                   
                                        
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                 @(item.Product.ProductName) <strong class="product-quantity"> ×&nbsp;@(item.Quantity)</strong><br>
                                                 <strong> @variant_info</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">@((Convert.ToInt32(price_value)-(Convert.ToInt32(price_value)*(discount)/100))*item.Quantity)</span>
                                                </td>
                                            </tr>
                                         
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Tạm tính</th>
                                                <td><span class="amount">@total_value VNĐ</span></td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>Giao hàng</th>
                                                <td>
                                                    <ul>
                                                    
                                                            <input type="radio" name="shipping" checked>
                                                            <label>Miễn phí giao hàng:</label>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Tổng tiền đơn hàng</th>
                                                <td><strong><span class="amount">@total_value VNĐ</span></strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </form>
                                <div class="payment-method">
                            <div class="accordion" id="checkoutAccordion">
                                  
                                  @foreach(var payment in payment_methods)
                                 {    

                                     if(payment.Paymentname=="Delivery" && payment.Status==1)
                                    {
                                            <div class="accordion-item">
                                        <h2 class="accordion-header" id="delivery">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#deliver" aria-expanded="false" aria-controls="deliver">
                                            Thanh toán khi nhận hàng
                                            </button>
                                        </h2>
                                        <div id="deliver" class="accordion-collapse collapse" aria-labelledby="delivery" data-bs-parent="#checkoutAccordion">
                                            <div class="accordion-body">
                                            
                                            <p><span style="color: red;">*</span>
                                            Quý khách vui lòng kiểm tra kỹ thông tin đơn hàng trước khi nhận hàng.Đơn hàng của quý khách sẽ được giao đến địa chỉ đã đăng ký trong vòng 1-2 ngày làm việc kể từ khi đặt hàng.
                                             </p>
                                            </div>
                                        </div>
                                    </div>
                                    }

                                    if(payment.Paymentname=="Bank" && payment.Status==1)
                                    {
                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="checkoutOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bankOne" aria-expanded="true" aria-controls="bankOne">
                                            Thanh toán qua ngân hàng
                                            </button>
                                        </h2>
                                        <div id="bankOne" class="accordion-collapse collapse show" aria-labelledby="checkoutOne" data-bs-parent="#checkoutAccordion">
                                            <div class="accordion-body">
                                             <p><span style="color: red;">*</span>Quý khách thanh toán qua tài khoản sau.Đơn hàng của quý khách sẽ không được giải quyết cho đến khi việc xác nhận chuyển khoản được thực hiện thành công.Sau 3 ngày kể từ lúc đặt hàng,nếu hệ thống kiểm tra và xác nhận đơn hàng vẫn chưa được 
                                                chuyển khoản thì hệ thống sẽ tự động hủy đơn hàng.
                                             </p>
                                            <div class="qr-payment">
      <div class="qr-info">
        <h3>Thông tin ngân hàng:</h3>
        <ul>
          <li><strong>Số tiền cần chuyển:</strong>&nbsp;@total_value VNĐ</li>
          <li><strong>Tên ngân hàng:</strong>&nbsp;@bank_name</li>
          <li><strong>Tên chủ thể:</strong>&nbsp;@account_name</li>
          <li><strong>Số tài khoản:</strong>&nbsp;@account_num</li>
          <li><strong>Nội dung:</strong>&nbsp;"#(Mã đơn hàng) chuyển khoản" Vd:#100101 chuyển khoản</li>
        </ul>
      </div>
      <div class="qr-code">
        <img class="qr-img" src="@qr_code" alt="QR Code">
      </div>
    </div>                                           
                                            </div>
                                        </div>
                                    </div>
                                    }
                                  
                                    if(payment.Paymentname=="Paypal" && payment.Status==1)
                                    {
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="paypalThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paypal" aria-expanded="false" aria-controls="paypal">
                                            Thanh toán qua Paypal
                                            </button>
                                        </h2>
      <div id="paypal" class="accordion-collapse collapse" aria-labelledby="paypalThree" data-bs-parent="#checkoutAccordion">
          <div class="accordion-body">
      <div class="payment-method">
     
          <h3>Thanh toán sử dụng Paypal</h3>
        <div class="credit-card-form">
            <div id="paypal-button-container" class="text-center"></div>
   
        </div>
      </div>
                                            </div>
                                        </div>
                                    </div>
        }
                     if(payment.Paymentname=="Master Card" && payment.Status==1)
                                    {
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="paypalThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visa" aria-expanded="false" aria-controls="visa">
                                            Thanh toán qua Visa Card                                            
                                            </button>
                                        </h2>
                                        <div id="visa" class="accordion-collapse collapse" aria-labelledby="paypalThree" data-bs-parent="#checkoutAccordion">
          <div class="accordion-body">
      <div class="payment-method">
        <div class="visa-logo">
          <img src="@Url.Content("~/user_layout/img/banner/card.png")" alt="Visa Logo"> 
        </div>
          <h3>Thanh toán sử dụng Visa Card</h3>          
        <div class="credit-card-form">
          <div class="form-group">
            <label for="card-holder"><strong>Tên chủ thể thẻ</strong></label>
            <input type="text" id="card-holder" name="card-holder" placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="card-number"><strong>Số tài khoản</strong></label>
            <input type="text" id="card-number" name="card-number" placeholder="1234 5678 9012 3456">
          </div>
          <div class="form-group-grouped">
            <div class="form-group">
              <label for="expiry-date"><strong>Ngày hết hạn</strong></label>
              <input type="text" id="expiry-date" name="expiry-date" placeholder="MM/YY">
            </div>
            <div class="form-group">
              <label for="cvv"><strong>CVV</strong></label>
              <input type="text" id="cvv" name="cvv" placeholder="123">
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="pay-button">Thanh toán</button>
                                            </div>
                                        </div>
                                    </div>
        }
                                    }
                                    </div>
                                    <div class="order-button-payment mt-20">
                                    <button type="button" id="checkout-order-btn" class="tp-btn-h1">Tiến hành đặt hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section> *@


<script src="https://www.paypal.com/sdk/js?client-id=@paypal_client_id" data-namespace="paypal_sdk"></script>


<script>


function updateQuantityFromCart()
{   
    var update_item=document.querySelectorAll("#update-quantity-item");
    if(update_item)
    {
        update_item.forEach((item)=>{
          item.addEventListener('click',(e)=>{
         e.preventDefault();  
        var url="@Url.Action("updateCart","Cart")";
        var quantity_values=document.querySelectorAll("#new-quantity-item");
        var formData = new FormData();
        const quantities=Array.from(quantity_values).map((item)=>parseInt(item.value));
        const product_ids=Array.from(update_item).map((item)=>parseInt(item.getAttribute("data-product-id")));

     quantities.forEach((item, index) => 
{
    formData.append(`quantities[${index}]`, item);
});

        product_ids.forEach((item,index)=>
        {
            formData.append(`product_ids[${index}]`,item);
        });
        
               $.ajax({  
                url: url,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false, 
                success:function(response)
                { 

                 @* $('#sub-cart-section').html(response); *@

                 window.location.reload();
                },
                error: function (xhr, status, error) 
                {
                document.getElementById("toast-title-error").innerHTML="Error Update Cart";
                document.getElementById("toast-message-error").innerHTML=error;
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();                            
              }
            });
          });
        });
    }
}

function removeItemFromCart()
{
    var remove_item=document.querySelectorAll("#remove-item");
    
    if(remove_item)
    {
        remove_item.forEach((item)=>
        {
         item.addEventListener('click',(e)=>{
           e.preventDefault();
        
           var product_id=item.getAttribute("data-product-id");

           var formData = new FormData();

           formData.append("product_id", product_id);

           var url="@Url.Action("RemoveItemFromCart","Cart")";

          $.ajax({  
                url: url,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false, 
                success:function(response)
                { 

                 $('#sub-cart-section').html(response);

                 window.location.reload();
                 @* document.getElementById("toast-title").innerHTML=title;

                 document.getElementById("toast-message").innerHTML=message;
     
                 var toastEl = document.querySelector('.toast');

                  if(status==-1 || status==0)
                { 
                   toastEl.classList.add('bg-danger');
                }
                else
                { 
                   toastEl.classList.add('bg-success');
                }
                
                var toast = new bootstrap.Toast(toastEl);
                
                toast.show(); *@
                },
                error: function (xhr, status, error) 
                {
                document.getElementById("toast-title-error").innerHTML="Error Remove Cart";
                document.getElementById("toast-message-error").innerHTML=error;
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();                            
              }
            });
           

         });
        });
    }
}

document.addEventListener("DOMContentLoaded", function() 
{
  removeItemFromCart();
  updateQuantityFromCart();
});

</script>
      