@{
    Layout = "_UserLayout";

    var products = ViewBag.products as PageList<Product>;
    
    var cat = ViewBag.category_dict as Dictionary<string,int>;

    var colors = ViewBag.colors as Dictionary<string,int>;    

    var selected_size= ViewBag.selected_size;
    
    int select_size=Convert.ToInt32(selected_size);
    
    int count_id=0;

    var current_tab=ViewBag.current_tab!=null?ViewBag.current_tab:0;    

    Console.WriteLine("Selected size is:"+selected_size);
    var options = ViewBag.options;
    
    var total_size = products.totalCount;

    Console.WriteLine("Total size is:"+total_size);
    
    var current_page=products.currentPage;
    
    Console.WriteLine("Current page is:"+current_page);
    
    var current_size = (select_size*current_page)-select_size;
    Console.WriteLine("Current size is:"+current_size);
    
    var product_banner=ViewBag.product_banner;
    
    Console.WriteLine("Product banner:"+product_banner);
    
    var sub_product_banner=ViewBag.sub_banner;
    //var count_product_reviews=ViewBag.count_product_reviews as Dictionary<string,int>;
    Console.WriteLine("Sub Product banner:"+sub_product_banner);
}     
  <div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">All Item</li>
        </ol>
      </nav>
    </div>
   </div>

    <section class="section-padding"></section>
    <h5 class="mb-0 fw-bold d-none">Product List</h5>
    <div class="container">
      <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-funnel me-1"></i> Filters</span></div>
       <div class="row">
          <div class="col-12 col-xl-3 filter-column">
              <nav class="navbar navbar-expand-xl flex-wrap p-0">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarFilter" aria-labelledby="offcanvasNavbarFilterLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title mb-0 fw-bold" id="offcanvasNavbarFilterLabel">Filters</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div class="filter-sidebar">
                      <div class="card rounded-0">
                        <div class="card-header d-none d-xl-block bg-transparent">
                            <h5 class="mb-0 fw-bold">Filters</h5>
                        </div>
                        <div class="card-body">
                          <h6 class="p-1 fw-bold bg-light">Categories</h6>
                            <div class="categories">
                             <div class="categories-wrapper height-1 p-1">
                            @foreach(var category in cat)
                            {
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""  id="chekCate1" data-category="@category.Key">
                                <label class="form-check-label" for="chekCate1">
                                  <span>@category.Key</span><span class="product-number">(@category.Value)</span>
                                </label>
                              </div>
                              }
                             </div>
                          </div>
                          <hr>
                          <div class="Price">
                            <h6 class="p-1 fw-bold bg-light">Price</h6>
                             <div class="Price-wrapper p-1">
                              <div class="input-group">
                                <input type="text" class="form-control rounded-0" id="from-price" placeholder="$10">
                                <span class="input-group-text bg-section-1 border-0">-</span>
                                <input type="text" class="form-control rounded-0" id="to-price" placeholder="$10000">
                                <button type="button" id="submit-filter" class="btn btn-outline-dark rounded-0 ms-2"><i class="bi bi-chevron-right"></i></button>
                              </div>
                             </div>
                           </div>
                           <hr>
                           <div class="colors">
                            <h6 class="p-1 fw-bold bg-light">Colors</h6>
                             <div class="color-wrapper height-1 p-1">
                            @foreach(var color in colors)
                            {
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="chekColor1" data-color="@color.Key">
                                <label class="form-check-label" for="chekColor1">
                                
                                @if(color.Key.ToLower()=="white")
                                {
                                  <i class="bi bi-circle-fill me-1" style="color: @color.Key.ToLower(); border: 1px solid #ccc; border-radius: 50%;"></i>
                                }
                                else
                                {
                                <i class="bi bi-circle-fill me-1" style="color: @color.Key.ToLower();"></i>
                                }
                             @* <span>@color.Key</span> *@
                             <span>(@color.Value)</span>
                                </label>
                            </div>
                               }
                                
                             </div>
                           </div>
                           @* <div class="discount">
                            <h6 class="p-1 fw-bold bg-light">Discount Range</h6>
                             <div class="discount-wrapper p-1">
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option1" id="chekDisc1">
                                <label class="form-check-label" for="chekDisc1">
                                  10% and Above
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option2" id="chekDisc2">
                                <label class="form-check-label" for="chekDisc2">
                                  20% and Above
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option3" id="chekDisc3">
                                <label class="form-check-label" for="chekDisc3">
                                  30% and Above
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option4" id="chekDisc4">
                                <label class="form-check-label" for="chekDisc4">
                                  40% and Above
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option5" id="chekDisc5">
                                <label class="form-check-label" for="chekDisc5">
                                  50% and Above
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option6" id="chekDisc6">
                                <label class="form-check-label" for="chekDisc6">
                                  60% and Above
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option7" id="chekDisc7">
                                <label class="form-check-label" for="chekDisc7">
                                  70% and Above
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="radio" value="option8" id="chekDisc8">
                                <label class="form-check-label" for="chekDisc8">
                                  80% and Above
                                </label>
                              </div>
                              </div>
                            </div> *@
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </nav>
          </div>
          <div class="col-12 col-xl-9">
            <div class="shop-right-sidebar">
              <div class="card rounded-0">
                <div class="card-body p-2">
                  <div class="d-flex align-items-center justify-content-between bg-light p-2">
                     <div class="product-count">@products.item.Count Items Found</div>
                     @* <div class="view-type hstack gap-2 d-none d-xl-flex">
                        <p class="mb-0">Grid</p>
                        <div>
                          <a href="shop-grid.html" class="grid-type-3 d-flex gap-1 active">
                            <span></span>
                            <span></span>
                            <span></span>
                          </a>
                        </div>
                        <div>
                          <a href="shop-grid-type-5.html" class="grid-type-3 d-flex gap-1">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          </a>
                        </div>
                     </div> *@
                     @* <form>
                      <div class="input-group">
                        <span class="input-group-text bg-transparent rounded-0 border-0">Sort By</span>
                        <select class="form-select rounded-0">
                          <option selected>Whats'New</option>
                          <option value="1">Popularity</option>
                          <option value="2">Better Discount</option>
                          <option value="3">Price : Hight to Low</option>
                          <option value="4">Price : Low to Hight</option>
                          <option value="5">Custom Rating</option>
                        </select>
                      </div>
                    </form>  *@
                  </div>
                </div>
              </div>
        <div id="productList">
          @Html.Partial("~/Views/ClientSide/Products/_ProductsPartial.cshtml", products)
        </div>
      </div>
    </div>
  </div><!--end row-->

       
    </div>
  </section>
  
    
      
  <script>

document.addEventListener("DOMContentLoaded",()=>{
 
  
 var category_checkboxes = document.querySelectorAll("#chekCate1");

  


  category_checkboxes.forEach(checkbox=>{
    checkbox.addEventListener("click",()=>{


        var from_price=document.getElementById("from-price").value;
        
        var to_price=document.getElementById("to-price").value;

        if(from_price=="" && to_price=="")
        {
          from_price=0;
          to_price=10000000;
        }
        else if(from_price=="")
        {
          from_price=0;
        }
        else if(to_price=="")
        {
          to_price=10000000;
        }

        var price_value=from_price+"-"+to_price;



        var list_checked_category=[];

        var checked_category=document.querySelectorAll('#chekCate1:checked');

        var checked_color=document.querySelectorAll('#chekColor1:checked');
        
        var list_checked_color=[];
        
        checked_color.forEach((color)=>{
          list_checked_color.push(color.getAttribute("data-color"));
        });

        checked_category.forEach((category)=>{
          list_checked_category.push(category.getAttribute("data-category"));
        });

        var checked_category_value=list_checked_category.join(",");

        var checked_color_value=list_checked_color.join(",");

          $.ajax({
                    url: '@Url.Action("FilterProducts", "Products")',
                    type: 'GET',
                    data: {pageSize: 30 ,prices:price_value,category:checked_category_value,colors:checked_color_value},
                    success: function (data) {
                        $("#productList").html(data);
                    },
                    error: function (xhr, status, error) 
                    {
                     console.error("AJAX Error:", status, error);
                    }
                });
        
    });
  });

  const submit_filter=document.getElementById("submit-filter");

  submit_filter.addEventListener("click",()=>{

    var from_price=document.getElementById("from-price").value;
        
    var to_price=document.getElementById("to-price").value;

    if(from_price=="" && to_price=="")
        {
          from_price=0;
          to_price=10000000;
        }
        else if(from_price=="")
        {
          from_price=0;
        }
        else if(to_price=="")
        {
          to_price=10000000;
        }

    var price_value=from_price+"-"+to_price;

    var list_checked_category=[];

    var checked_category=document.querySelectorAll('#chekCate1:checked');

    var checked_color=document.querySelectorAll('#chekColor1:checked');
    
    var list_checked_color=[];
    
    checked_color.forEach((color)=>{
      list_checked_color.push(color.getAttribute("data-color"));
    });

    checked_category.forEach((category)=>{
      list_checked_category.push(category.getAttribute("data-category"));
    });

    var checked_category_value=list_checked_category.join(",");

    var checked_color_value=list_checked_color.join(",");

      $.ajax({
                url: '@Url.Action("FilterProducts", "Products")',
                type: 'GET',
                data: {pageSize: 30 ,prices:price_value,category:checked_category_value,colors:checked_color_value},
                success: function (data) {
                    $("#productList").html(data);
                },
                error: function (xhr, status, error) 
                {
                 console.error("AJAX Error:", status, error);
                }
            });
  });


    var color_checkboxes = document.querySelectorAll("#chekColor1");

    color_checkboxes.forEach(checkbox=>{
      checkbox.addEventListener("click",()=>{

        var from_price=document.getElementById("from-price").value;
        
        var to_price=document.getElementById("to-price").value;

        if(from_price=="" && to_price=="")
        {
          from_price=0;
          to_price=10000000;
        }
        else if(from_price=="")
        {
          from_price=0;
        }
        else if(to_price=="")
        {
          to_price=10000000;
        }

        var price_value=from_price+"-"+to_price;

        var list_checked_category=[];

        var checked_category=document.querySelectorAll('#chekCate1:checked');

        var checked_color=document.querySelectorAll('#chekColor1:checked');
        
        var list_checked_color=[];
        
        checked_color.forEach((color)=>{
          list_checked_color.push(color.getAttribute("data-color"));
        });

        checked_category.forEach((category)=>{
          list_checked_category.push(category.getAttribute("data-category"));
        });

        var checked_category_value=list_checked_category.join(",");

        var checked_color_value=list_checked_color.join(",");

          $.ajax({
                    url: '@Url.Action("FilterProducts", "Products")',
                    type: 'GET',
                    data: {pageSize: 30 ,prices:price_value,category:checked_category_value,colors:checked_color_value},
                    success: function (data) {
                        $("#productList").html(data);
                    },
                    error: function (xhr, status, error) 
                    {
                     console.error("AJAX Error:", xhr.responseText, error);
                    }
                });
        
    });

     });
     });
    

 </script>
