<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
@model PageList<Category>
@{
  int count_id= 0;
  var selected_size=ViewBag.select_size;
  var filtered_user=ViewBag.filter_obj as FilterCategory;
  int status_delete=-1;
  int change_pass_status=-1;
    var current_total_item=(Model?.currentPage*Model?.pageSize)-Model?.pageSize;  

  if(TempData["Status_Delete"]!=null)
  {
   status_delete=Convert.ToInt32(TempData["Status_Delete"]);
  }
  var message_delete =TempData["Message_Delete"];
 
 
  string delete_email_value="";
  
  if((filtered_user)==null)
  {
    filtered_user=new FilterCategory("","","");
  }
  Console.WriteLine("filtered_user:"+filtered_user);
}

@if(status_delete==1)
{
   <div
       class="bs-toast toast fade hide bg-success toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
        data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Xóa Category</div>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body">
                            @message_delete
                        </div>
                      </div>
                <script>
            document.addEventListener('DOMContentLoaded', function() {
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        </script>
}


@if(status_delete==0)
{
   <div
       class="bs-toast toast fade hide bg-danger toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
        data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Xóa Category</div>
                        </div>
                        <div class="toast-body">
                         @(message_delete)
                        </div>
                      </div>
                        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        </script>
}

    <!-- Layout wrapper -->
  


          <div class="content-wrapper">

            <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Category/</span>Danh sách Category</h4>
                <div class="card">
                    <div class="card-header border-bottom">
                     <h5 class="card-title mb-0">Lọc danh sách Category</h5>
                <form method="post" asp-controller="CategoryList" asp-action="CategoryList">
                    <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0 g-6">
                  <div class="col-md-4">
                    <input type="search" class="form-control" name="categoryname" placeholder="Tên loại sản phẩm">
                     </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4 mb-4">
                        <input type="date" class="form-control" placeholder="mm/dd/yyyy" name="starttime" value="@filtered_user.StartDate" id="dateInput" autocomplete="off">
                    </div>
                           <div class="col-md-4">
                        <input type="date" class="form-control" placeholder="mm/dd/yyyy" name="endtime" id="dateInput" value="@filtered_user.EndDate" autocomplete="off">
                    </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                         <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
                </div>
                <div class="card-datatable border-bottom">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="ms-2">   
                            <div class="data-length">
                                <label>
                                    <select class="form-select" id="page-size">
                                        @foreach(var option in ViewBag.options)
                                        { if(option==selected_size)
                                        {
                                          <option value="@option" selected>@option</option>
                                        }
                                        else{
                                           <option value="@option">@option</option>
                                        }
                                        }
                                    </select>
                                </label>
                            </div>
                            </div>
                        </div>
                            <div class="col-md-10">
                            <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-6 mb-md-0 mt-n6 mt-md-0 gap-md-4">
                            <div class="data-filter">
                            <div class="dt-buttons btn-group flex-wrap">
                                <div class="btn-group">
                                    <button class="btn buttons-collection dropdown-toggle btn-label-secondary me-4" tabindex="0" id="exportDropdown" type="button" aria-haspopup="dialog" data-bs-toggle="dropdown" aria-expanded="false"><span><i class="bx bx-export me-2 bx-sm"></i>Xuất File</span></button> 
                                    <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                                       <li><a class="dropdown-item" href="@Url.Action("ExportExcelCategory","CategoryList")">Định dạng Excel</a></li>
                                    </ul>    
                                </div>
                                <button class="btn btn-secondary add-new btn-primary" id="add-category-btn" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser"><span><i class="bx bx-plus bx-sm me-0 me-sm-2"></i><span class="d-none d-sm-inline-block">Thêm loại sản phẩm mới</span></span></button>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="card-header">Danh sách loại sản phẩm</h5>
                <div class="table-responsive text-nowrap border-bottom">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">No</th>
                            <th class="text-center">Tên loại sản phẩm</th>
                            <th class="text-center">Ngày tạo</th>
                            <th class="text-center">Ngày cập nhật</th>
                           <th class="text-center">
                            Thao tác
                           </th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                       @foreach(var category in Model?.item)
                       { current_total_item+=1;
                         var avatarUrl = string.IsNullOrEmpty(category.Avatar) 
        ? "https://cdn-icons-png.flaticon.com/128/16955/16955062.png" 
        : Url.Content("~/" +category.Avatar.Substring(category.Avatar.IndexOf("wwwroot") + ("wwwroot".Length + 1)));
                         <tr>
                            <td class="text-center">@current_total_item</td>
                            <td class="text-center">@category.Id</td>
                            <td class="text-center">
                             <div class="d-flex align-items-center justify-content-center">
                              <div class="avatar-wrapper">
                                <div class="avatar avatar-sm me-2">
                                @if(category.Avatar.Contains("https") || category.Avatar.Contains("http"))
                                {
                                 <img src="@category.Avatar">
                                 }
                                 else
                                 {
                                 <img src="@avatarUrl">
                                 }
                                </div>
                              </div>
                              <strong>@category.CategoryName</strong>
                             </div>
                              </td>
                            <td class="text-center">@category.CreatedDate</td>
                            <td class="text-center">@category.UpdatedDate</td>
                            <td class="text-center">
                            <div class="d-flex justify-content-center">
                              <a data-bs-toggle="modal" data-bs-target="#modalLong" class="btn btn-icon delete-record icon-style-delete mr-2" id="delete-record-btn" data-category="@category.Id">
                                <i class="bx bx-trash bx-md"></i>
                              </a>
                      <div class="modal fade" id="modalLong" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="modalLongTitle"><strong>Xóa Category</strong></h4>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                             <p class="modal-font">
                               <strong>Bạn có chắc là muốn xóa Category này?</strong>
                              </p>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="remove-btn">Xóa</button>
                              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Đóng
                              </button>
                        </div>
                          </div>
                        </div>
                      </div>
                                <a href="@Url.Action("CategoryInfo",new{categoryname=@category.CategoryName})" class="btn btn-icon icon-style-update">
                                <i class="bx bx-show bx-md"></i>
                              </a>
                              <a href="javascript:void(0)" class="btn btn-icon icon-style-reset dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded bx-md"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-end m-0">
                                <a class="dropdown-item" href="@Url.Action("SubCategoryList",new{category=@category.Id})">Loại sản phẩm phụ</a>
                                @* <a class="dropdown-item" href="@Url.Action("BrandList",new{category=@category.Id})">Nhãn hàng</a> *@
                              </div>
                            </div>
                            </td>
                         </tr>
                    }
                    </tbody>
                </table>
                </div>
    <div class="pagination-container mt-4">
      <div class="page-total">Tổng số Category:@Model?.totalCount</div>
      <div class="page-list justify-content-center">
     @if(Model!=null && Model.hasPreviousPage)
     {
         <a class="page-item" title="Previous" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=Model?.currentPage-1,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})"><i class="bx bx-chevron-left"></i></a>
     }
     else
     {
      <span class="page-item" title="Previous" aria-label="previous"><i class="bx bx-chevron-left"></i></span>
     }
 
    @if(Model.totalPage<=7)
    {
      for(int i=1;i<=Model?.totalPage;i++)
      {
        if(i==Model?.currentPage)
        {
           <a class="page-item activate" disabled>@i</a> 
        }
       else
       {
         <a class="page-item" title="@i" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=i,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@i</a>
       }
      }
    }
     else
    {
     if(Model?.currentPage<5)
     {
      for(int i=1;i<=7;i++)
      {
        if(i<6)
        {
          if(i==Model?.currentPage)
        {
           <span class="page-item activate" disable>@i</span> 
        }
       else{
         <a class="page-item" title="@i" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=i,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@i</a>
       }
        }
        else{
          if(i==6)
          {
            <span class="page-item" disabled>...</span>
          }
        else{
         <a class="page-item" title="@i" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=Model?.totalPage,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@Model?.totalPage</a>
        }
        }
      }
     }
    else
    {
    if((Model?.currentPage>=5 && (Model?.currentPage<(Model.totalPage-3))))
    {
         <a class="page-item" title="1" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=1,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">1</a>
    <span class="page-item" disabled>...</span>
         <a class="page-item" title="@(Model?.currentPage-1)" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=Model?.currentPage-1,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@(Model?.currentPage-1)</a>
    <span class="page-item activate" disabled>@(Model?.currentPage)</span>
         <a class="page-item" title="@(Model?.currentPage+1)" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=Model?.currentPage+1,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@(Model?.currentPage+1)</a>

    <span class="page-item" disabled>...</span>
         <a class="page-item" title="@(Model?.totalPage)" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=(Model?.totalPage),categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@(Model?.totalPage)</a>
    }
    else{
         <a class="page-item" title="1" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=1,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">1</a>
    <span class="page-item" disabled>...</span>
         <a class="page-item" title="@(Model?.currentPage-4)" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=Model?.currentPage-4,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@(Model?.currentPage-4)</a>
     for(int i=(Model.totalPage-3);i<=Model?.totalPage;i++)
     {
      if(i==Model?.currentPage)
      {
          <span class="page-item activate" disabled>@(Model?.currentPage)</span>
      }
    else{
         <a class="page-item" title="@i" href="@Url.Action("CategoryListPaging",new{page_size=int.Parse(selected_size),page=i,categoryname=(string.IsNullOrEmpty(filtered_user.Category)?"":filtered_user.Category),startdate=(string.IsNullOrEmpty(filtered_user.StartDate)?"":filtered_user.StartDate),enddate=(string.IsNullOrEmpty(filtered_user.EndDate)?"":filtered_user.EndDate)})">@i</a>
    }
     }
    }
    }
    } 
   
        @* <a class="page-item" title="1" href="@Url.Action("UserList",new{page=1})">1</a>
       
    
         <a class="page-item" title="@i" href="@Url.Action("UserList",new{page=i})">i</a>
         <a class="page-item" title="@i" href="@Url.Action("UserList",new{page=i})">i</a>
         <a class="page-item" title="@i" href="@Url.Action("UserList",new{page=i})">i</a>

         <a class="page-item" title="@i" href="@Url.Action("UserList",new{page=i})">i</a>

         <a class="page-item" title="@i" href="@Url.Action("UserList",new{page=i})">i</a> *@

       
      @if(Model!=null && Model.hasNextPage)
      {
       <a class="page-item" title="Next" href="@Url.Action("UserListPaging",new{page_size=int.Parse(selected_size),page=Model?.currentPage+1})">></a>
       }
      else 
      {
        <span class="page-item" title="Next" disabled> <i class="bx bx-chevron-right"></i></span>
      }
      </div>
    </div>  
 </div>
  

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->

      <div class="layout-overlay layout-menu-toggle"></div>
  <script>
     let delete_category='';

    var all_delete_btn=document.querySelectorAll('#delete-record-btn');

    all_delete_btn.forEach((btn)=>{
    btn.addEventListener('click',()=>{
    delete_category=btn.getAttribute('data-category');
     })
    });

     document.getElementById("page-size").addEventListener("change",()=>{
    
     var selected_value=document.getElementById("page-size").value;
     if(selected_value)
     {
      selected_value=parseInt(selected_value);
      //window.location.href=`${Url.Action("handleNumberItem",new{page_size=selected_value})}`;
      window.location.href= '@Url.Action("CategoryListPaging", "CategoryList")' + "?page_size=" + selected_value;
     }
     });
     document.getElementById("add-category-btn").addEventListener('click',()=>{
      window.location.href='@Url.Action("AddCategory","CategoryList")';
     });
    
    document.getElementById("remove-btn").addEventListener('click',()=>{
  
    
    delete_category_value=delete_category;
  

     window.location.href='@Url.Action("DeleteCategory","CategoryList")'+"?id="+delete_category_value; 
    });
@*  
 const convertDateTime=()=> {

    const dateInput = document.getElementById('dateInput').value;


    const date = new Date(dateInput);

    if (!isNaN(date)) {
            const formattedDate =  
                              ('0' + (date.getMonth() + 1)).slice(-2) +'/'+
                              ('0' + date.getDate()).slice(-2)+'/'+date.getFullYear();

    }
} *@
  </script>
