@model List<Blog>
@{
    Layout="_UserLayout";
    var categories=ViewBag.categories as List<Category>;
    var sorted_blog =   ViewBag.blogs_sorted as List<Blog>;
}


			<div class="page-content">
				<!--start breadcrumb-->
				<section class="border-bottom border-top d-none d-md-flex bg-light" style="margin-top: 50px;">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<div class="breadcrumb-title pe-3">Blog</div>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="@Url.Action("HomePage","HomePage")"><i class="bx bx-home-alt"></i>Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Blog
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<section class="py-4">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-9">
								<div class="blog-right-sidebar">
								
								@foreach(var blog in Model)
								{
									<div class="card mb-4 rounded-0 border shadow-none">
<img class="lazyloaded" data-src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="@blog.Blogname">										
                                    
									<div class="card-body">                
											<div class="list-inline">	<a href="javascript:;" class="list-inline-item"><i class='bx bx-user me-1'></i>By @blog.Author</a>
												<a href="javascript:;" class="list-inline-item"><i class='bx bx-calendar me-1'></i>@blog.Createddate</a>
											</div>
											<h4 class="mt-4">@blog.Blogname</h4>
											<p>@blog.GetFirstPContent()</p><a href="blog-read.html" class="btn btn-dark btn-ecomm">Read More <i class='bx bx-chevrons-right' ></i></a>
										</div>
									</div>
									}
									@* <div class="card mb-4 rounded-0 border shadow-none">
										<img src="assets/images/posts/02.png" class="card-img-top" alt="">
										<div class="card-body">
											<div class="list-inline">	<a href="javascript:;" class="list-inline-item"><i class='bx bx-user me-1'></i>By Admin</a>
												<a href="javascript:;" class="list-inline-item"><i class='bx bx-comment-detail me-1'></i>16 Comments</a>
												<a href="javascript:;" class="list-inline-item"><i class='bx bx-calendar me-1'></i>November 5, 2021</a>
											</div>
											<h4 class="mt-4">Post Title Here</h4>
											<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>	<a href="blog-read.html" class="btn btn-dark btn-ecomm">Read More <i class='bx bx-chevrons-right' ></i></a>
										</div>
									</div> *@
									@* <div class="card mb-4 rounded-0 border shadow-none">
										<img src="assets/images/posts/03.png" class="card-img-top" alt="">
										<div class="card-body">
											<div class="list-inline">	<a href="javascript:;" class="list-inline-item"><i class='bx bx-user me-1'></i>By Admin</a>
												<a href="javascript:;" class="list-inline-item"><i class='bx bx-comment-detail me-1'></i>16 Comments</a>
												<a href="javascript:;" class="list-inline-item"><i class='bx bx-calendar me-1'></i>November 5, 2021</a>
											</div>
											<h4 class="mt-4">Post Title Here</h4>
											<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>	<a href="blog-read.html" class="btn btn-dark btn-ecomm">Read More <i class='bx bx-chevrons-right' ></i></a>
										</div>
									</div> *@
									<hr>
									@* <nav class="d-flex justify-content-between" aria-label="Page navigation">
										<ul class="pagination">
											<li class="page-item"><a class="page-link" href="javascript:;"><i class="bx bx-chevron-left"></i> Prev</a>
											</li>
										</ul>
										<ul class="pagination">
											<li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">2</a>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">3</a>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">4</a>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">5</a>
											</li>
										</ul>
										<ul class="pagination">
											<li class="page-item"><a class="page-link" href="javascript:;" aria-label="Next">Next <i class="bx bx-chevron-right"></i></a>
											</li>
										</ul>
									</nav> *@
								</div>
							</div>
							<div class="col-12 col-lg-3">
								<div class="blog-left-sidebar p-3 border">
									<form>
										<div class="position-relative blog-search mb-3">
											<input type="text" class="form-control form-control-lg rounded-0 pe-5" placeholder="Serach posts here...">
											<div class="position-absolute top-50 end-0 translate-middle"><i class='bx bx-search fs-4 text-white'></i>
											</div>
										</div>
										<div class="blog-categories mb-3">
											<h5 class="mb-4">Blog Categories</h5>
											<div class="list-group list-group-flush"> 
											  
											  @foreach(var cat in categories)
											  {
												<a href="@Url.Action("BlogListByCategory","Blog",new{category_id=cat.Id})" class="list-group-item bg-transparent"><i class='bx bx-chevron-right me-1'></i> @cat.CategoryName</a>
											  }
												@*<a href="javascript:;" class="list-group-item bg-transparent"><i class='bx bx-chevron-right me-1'></i> Electronis</a>
												<a href="javascript:;" class="list-group-item bg-transparent"><i class='bx bx-chevron-right me-1'></i> Accessories</a>
												<a href="javascript:;" class="list-group-item bg-transparent"><i class='bx bx-chevron-right me-1'></i> Kitchen & Table</a>
												<a href="javascript:;" class="list-group-item bg-transparent"><i class='bx bx-chevron-right me-1'></i> Furniture</a> *@
											</div>
										</div>
										<div class="blog-categories recent-post mb-3">
											<h5 class="mb-4">Recent Posts</h5>
										  @for(var i = 0; i < sorted_blog?.Count; i++)
										  {  
											if(i >= 5) break;
											var blog = sorted_blog[i];
											<div class="d-flex align-items-center">
              <img class="lazyloaded" data-src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" width="75" src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="@blog.Blogname">										
												<div class="ms-3"> <a href="@Url.Action("BlogDetail","Blog",new{id=blog.Id})" class="fs-6 recent-post-title">@blog.Blogname</a>
													<p class="mb-0">@blog.Createddate</p>
												</div>
											</div>
											<div class="my-3 border-bottom"></div>
											}
											@* <div class="d-flex align-items-center">
												<img src="assets/images/gallery/07.png" width="75" alt="">
												<div class="ms-3"> <a href="javascript:;" class="fs-6 recent-post-title">Post title here</a>
													<p class="mb-0">March 15, 2021</p>
												</div>
											</div>
											<div class="my-3 border-bottom"></div>
											<div class="d-flex align-items-center">
												<img src="assets/images/gallery/16.png" width="75" alt="">
												<div class="ms-3"> <a href="javascript:;" class="fs-6 recent-post-title">Post title here</a>
													<p class="mb-0">March 15, 2021</p>
												</div>
											</div>
											<div class="my-3 border-bottom"></div>
											<div class="d-flex align-items-center">
												<img src="assets/images/gallery/01.png" width="75" alt="">
												<div class="ms-3"> <a href="javascript:;" class="fs-6 recent-post-title">Post title here</a>
													<p class="mb-0">March 15, 2021</p>
												</div>
											</div> *@
										</div>
										@* <div class="blog-categories mb-3">
											<h5 class="mb-4">Popular Tags</h5>
											<div class="tags-box d-flex flex-wrap gap-2">
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Cloths</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Electronis</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Furniture</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Sports</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Men Wear</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Women Wear</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Laptops</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Formal Shirts</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Topwear</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Headphones</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Bottom Wear</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Bags</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Sofa</a>
												<a href="javascript:;" class="btn btn-ecomm btn-outline-dark">Shoes</a>
											</div>
										</div> *@
									</form>
								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</section>
				<!--end start page content-->
			</div>



@* <div class="layout-blogs">
	
<div class="breadcrumb-shop">
	<div class="container">
	<div class="breadcrumb-list" style="margin-top: 15px;">
		 <nav aria-label="breadcrumb" >
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"  style="font-size: 16px;"><a href="@Url.Action("HomePage","HomePage")">Trang chủ</a></li>
                                  <li class="breadcrumb-item active" aria-current="page"  style="font-size: 16px;">Tin tức</li>
                                </ol>
                              </nav>
	</div>
</div>
</div>	<div class="wrapper-contentBlogs">
		<div class="container pd-top">
			<div class="row dFlex-row">
				<div class="col-lg-9 col-md-12 col-12 boxBlog-left">
					<div class="listBlogs-content">	
						<div class="heading-page"><h1>Tin tức</h1></div>
						<div class="list-article-content blog-posts row">
						@foreach(var blog in Model)
                        {
							<article class="article-loop col-md-6 col-6">
								<div class="article-inner">				
									<div class="article-image">
										<a href="@Url.Action("BlogDetail","Blog",new{id=blog.Id})" class="blog-post-thumbnail" title="@blog.Blogname" rel="nofollow">
											<img class="lazyloaded" data-src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="@blog.Blogname">
										</a>
									</div>
									<div class="article-detail">	
										<div class="article-title">
											<h3 class="post-title">
												<a href="@Url.Action("BlogDetail","Blog",new{id=blog.Id})" title="@blog.Blogname">@blog.Blogname</a>
											</h3>
										</div>		
										
										<p class="entry-content">@blog.GetFirstPContent()</p>
										
										<div class="article-post-meta">   
											<span class="author">bởi:@blog.Author</span>
											<span class="date">                
											<time pubdate="" datetime="06 Tháng 02, 2023">@blog.Updateddate</time>
											</span>
												
										</div>										
									</div>
								</div>						
							</article>
                            }
						</div>
						<div class="pagination-shop pagi text-center">				
							<div id="pagination">
</div>				
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-12 col-12 boxBlog-right">				
					<aside class="sidebar-blogs blogs-aside--sticky">
	<div class="group-sidebox">
		<div class="sidebox-title ">
			<h3 class="htitle"><strong>Bài viết mới nhất</strong></h3>
		</div>
		<div class="sidebox-content sidebox-content-togged active">
			<div class="list-blogs-latest">	
				
			@foreach(var blog in Model)
            {
				<div class="item-article clearfix ">
					<div class="post-image">
						<a href="@Url.Action("BlogDetail","Blog",new{id=blog.Id})">
							<img class="ls-is-cached lazyloaded" data-src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" src="~/@blog.FeatureImage.Substring(blog.FeatureImage.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="@blog.Blogname">
                    </div>
					<div class="post-content">
						<h3><a href="@Url.Action("BlogDetail","Blog",new{id=blog.Id})">@blog.Blogname</a></h3>
						<p class="post-meta">
							<span class="cate">Tin tức</span>
							<span class="author d-none"><a href="@Url.Action("BlogDetail","Blog",new{id=blog.Id})">@blog.Author</a></span>
							<span class="date">-@(blog.Updateddate)</span>
						</p>
					</div>
				</div>	
                }			
				
								
			</div>
		</div>
	</div>
	
	<!-- Menu bai viet -->

	<div class="group-sidebox">
		<div class="sidebox-title">
			<h3 class="htitle"><strong>Danh mục bài viết</strong></h3>
		</div>
		<div class="sidebox-content sidebox-content-togged active">
			<ul class="menuList-links">
	           <li class=""><a href="@Url.Action("HomePage","HomePage")" title="HomePage"><span>Trang chủ</span></a></li>
			    
                <li class=""><a href="@Url.Action("StaticPage","StaticPage",new{page_name="about"})" title="About Us"><span>Về chúng tôi</span></a></li>
			 @foreach(var cat in categories )
             { if(cat.SubCategory.Count>0)
             {
				<li class="has-submenu level0">
					<a href="@Url.Action("ProductsByCategory","Products",new{category_name=cat.CategoryName})" title="@cat.CategoryName">@cat.CategoryName<span class="icon-submenu toggle-icon">+</span></a>
					<ul class="submenu-links">

					 @foreach(var sub_cat in cat.SubCategory)
                     {
						<li><a href="@Url.Action("ProductBySubCategory","Products",new{sub_cat_id=sub_cat.Id})" title="@sub_cat.SubCategoryName">@sub_cat.SubCategoryName</a></li>
                     }

					</ul>
				</li>
                }
            else{
            <li>
                <a href="@Url.Action("ProductsByCategory","Products",new{category_name=cat.CategoryName})" title="@cat.CategoryName"><span>@cat.CategoryName</span></a>
            </li>
            }
                }	
			</ul>
		</div>
	</div>

</aside>	
				</div>
			</div>
		</div>
	</div>
	
</div> *@