@model List<CartModel>
@using System.Globalization;
@{
    double total_amount=0;
    double total_delivery=Model.Count>0?5:0;
    foreach(var item in Model)
    {
        double discount=string.IsNullOrEmpty(item.Product.Discount.ToString()) ? 0 : Convert.ToInt32(item.Product.Discount);
        string price_value=!string.IsNullOrEmpty(item.Price) ? item.Price : item.Product.Price;
        price_value=price_value.Replace("$","").Replace(",",".");
        double current_price=(double.Parse(price_value,CultureInfo.InvariantCulture)-(double.Parse(price_value,CultureInfo.InvariantCulture)*(discount)/100));
        total_amount+=current_price*item.Quantity;
    }
}

  <section class="section-padding">
    <div class="container">
      <div class="d-flex align-items-center px-3 py-2 border mb-4">
        <div class="text-start">
          <h4 class="mb-0 h4 fw-bold" id="title-bag">My Bag (@Model.Count items)</h4>
       </div>
       <div class="ms-auto">
        <button type="button" id="continue-shopping" class="btn btn-light btn-ecomm">Continue Shopping</button>
       </div>
      </div>
	   <div class="row g-4">
	     <div class="col-12 col-xl-8">
    @foreach(var cart in Model)
    {
		    <div class="card rounded-0 mb-3">
			  <div class="card-body">
			    <div class="d-flex flex-column flex-lg-row gap-3">
				   <div class="product-img">
      @if(cart.Product.Backavatar.Contains("https") || cart.Product.Backavatar.Contains("http"))
              {
                <img src="@cart.Product.Backavatar" width="150" alt="...">
              }
              else
              {
                <img src="~/@cart.Product.Backavatar.Substring(cart.Product.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" width="150" alt="...">
            }				   </div>
				    <div class="product-info flex-grow-1">
				      <h5 class="fw-bold mb-0">@cart.Product.ProductName</h5>
					    <div class="product-price d-flex align-items-center gap-2 mt-3">
                <div class="h6 fw-bold">@cart.Price</div>
                @* <div class="h6 fw-light text-muted text-decoration-line-through">@cart.Price</div>
                <div class="h6 fw-bold text-danger">(70% off)</div> *@
              </div>
					  	 <div class="mt-3 hstack gap-2">
                 <button type="button"  class="btn btn-sm btn-light border rounded-0" data-bs-toggle="modal" data-bs-target="#SizeModal">Size : @cart.Size</button>
                  <button type="button" class="btn btn-sm btn-light border rounded-0" data-bs-toggle="modal" data-bs-target="#SizeModal">Color : @cart.Color</button>
                 <button type="button"  class="btn btn-sm btn-light border rounded-0" data-bs-toggle="modal" data-bs-target="#QtyModal">Quantity : @cart.Quantity</button>
						</div>
				   </div>
           <div class="d-none d-lg-block vr"></div>
           <div class="d-grid gap-2 align-self-start align-self-lg-center">
              <button type="button" class="btn btn-ecomm" id="remove-btn" data-product-id="@cart.Product.Id"><i class="bi bi-x-lg me-2"></i>Remove</button>
              @* <button type="button" class="btn dark btn-ecomm"><i class="bi bi-suit-heart me-2"></i>Move to Wishlist</button> *@
           </div>
			  	</div>
			  </div>
			</div> 
         }

      

		 </div>
		 <div class="col-12 col-xl-4">
		     <div class="card rounded-0 mb-3">
           <div class="card-body">
             <h5 class="fw-bold mb-4">Order Summary</h5>
             <div class="hstack align-items-center justify-content-between">
               <p class="mb-0">Bag Total</p>
               <p class="mb-0">
                 $@total_amount
               </p>
             </div>
             @* <div class="hstack align-items-center justify-content-between">
              <p class="mb-0">Bag discount</p>
              <p class="mb-0 text-success">- $178.00</p>
            </div> *@
            <hr>
            <div class="hstack align-items-center justify-content-between">
              <p class="mb-0">Delivery</p>
              <p class="mb-0">$@total_delivery</p>
            </div>
            <hr>
            <div class="hstack align-items-center justify-content-between fw-bold text-content">
              <p class="mb-0">Total Amount</p>
              <p class="mb-0">$@(total_amount+total_delivery)</p>
            </div>
             <div class="d-grid mt-4">
                <button type="button" class="btn btn-dark btn-ecomm py-3 px-5">Place Order</button>
             </div>
           </div>
         </div>
         @* <div class="card rounded-0">
          <div class="card-body">
            <h5 class="fw-bold mb-4">Apply Coupon</h5>
            <div class="input-group">
              <input type="text" class="form-control rounded-0" placeholder="Enter coupon code">
              <button class="btn btn-dark btn-ecomm rounded-0" type="button">Apply</button>
            </div>
           </div>
         </div> *@


		 </div>
	 </div><!--end row-->
       
    </div>
  </section>

        @* <section class="cart-area pt-120 pb-120">
            <div class="container">
               <div class="row">
              @if(Model.Count>0)
              {
                  <div class="col-12">
                        <form action="#">
                           <div id="table-content-cart" class="table-content table-responsive">
                              <table class="table">
                                    <thead>
                                       <tr>
                                          <th style="font-weight: bolder;"  class="product-thumbnail">Hình ảnh</th>
                                          <th style="font-weight: bolder;"  class="cart-product-name">Tên sản phẩm</th>
                                          <th style="font-weight: bolder;"  class="product-price">Giá tiền</th>
                                          <th style="font-weight: bolder;"  class="product-quantity">Số lượng</th>
                                          <th style="font-weight: bolder;"  class="product-quantity">Kiểu dáng</th>
                                          <th style="font-weight: bolder;"  class="product-subtotal">Tổng cộng</th>
                                          <th style="font-weight: bolder;"  class="product-remove">Xóa</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model)
                                        { int discount=string.IsNullOrEmpty(item.Product.Discount.ToString()) ? 0 : Convert.ToInt32(item.Product.Discount);

                                          string variant_info="";
                                          if(!string.IsNullOrEmpty(item.Size))
                                          {
                                             variant_info+="Kích thước: "+item.Size+"\n";
                                          }                                          
                                          if(!string.IsNullOrEmpty(item.Color))
                                          {
                                             variant_info+="Màu sắc: "+item.Color+"\n";
                                          }
                                        
                                         string price_value=!string.IsNullOrEmpty(item.Price) ? item.Price : item.Product.Price;
                                         int current_price=(Convert.ToInt32(price_value)-(Convert.ToInt32(price_value)*(discount)/100));
                                         total_amount+=(Convert.ToInt32(price_value)-(Convert.ToInt32(price_value)*(discount)/100))*item.Quantity;
                                       <tr>
                                          <input id="product-id" type="hidden" value="@item.Product.Id">
                                          <input id="discount" type="hidden" value="@discount">
                                          <td class="product-thumbnail"><img src="~/@item.Product.Frontavatar.Substring(item.Product.Frontavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="User Front Avatar"></td>
                                          <td class="product-name"><a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=item.Product.ProductName})">@item.Product.ProductName</a></td>
                                          <td class="product-price"><span id="product-price" class="amount">@current_price đ</span></td>
                                          <td class="product-quantity">
                                             <div class="cart-plus-minus">
                                             <input class="quantity-value" type="text" value="@item.Quantity" data-price="@(Convert.ToInt32(price_value))"><div class="dec qtybutton">-</div><div class="inc qtybutton">+</div></div>
                                          </td>
                                          <td class="product-price">@variant_info</td>
                                          <td class="product-subtotal"><span class="amount">@(current_price*item.Quantity) đ</span></td>
                                          <td class="product-remove"><a href="javascript:void(0);" type="button" class="remove-btn" data-product-id="@item.Product.Id"><i class="fa fa-times"></i></a></td>
                                       </tr>
                                      
                                       }
                                    </tbody>
                              </table>
                           </div>
                           <div class="row">
                              <div class="col-12">
                                    <div class="coupon-all">
                                       <div class="coupon">
                                          <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                          <button class="tp-btn-h1" name="apply_coupon" type="submit">
                                             Apply coupon                                             
                                          </button>
                                       </div>
                                       <div class="coupon2">
                                          <button class="tp-btn-h1" id="update-cart" name="update_cart" type="button">Cập nhật giỏ hàng</button>
                                       </div>
                                    </div>
                              </div>
                           </div>
                           <div class="row justify-content-end">
                              <div class="col-md-5">
                                    <div class="cart-page-total">
                                       <h2>Giỏ hàng</h2>
                                       <ul class="mb-20">
                                          <li>Tạm tính <span id="subtotal-amount">@total_amount VNĐ</span></li>
                                          <li>Tổng tiền<span id="total-amount">@total_amount VNĐ</span></li>
                                       </ul>
                                       <a class="tp-btn-h1" href="@Url.Action("Checkout","Checkout")">Tiến hành đặt hàng</a>
                                    </div>
                              </div>
                           </div>
                        </form>                     
                  </div>
                  }
                 else{
                    <div class="text-center">
                        <h1>Giỏ hàng của bạn đang trống</h1>                        
                        <button type="button" id="redirect-btn" class="cart-btn mt-5" onclick="redirectToHomePage()">Tiếp tục mua sắm</button>
                    </div>
                 } 
               </div>
            </div>
         </section> *@
<script>
   
   var cart_data=@Html.Raw(Json.Serialize(Model));
   document.addEventListener("DOMContentLoaded", function() {
    var continue_shoppingBtn = document.getElementById("continue-shopping");
    var url="@Url.Action("HomePage","HomePage")";
      continue_shoppingBtn.addEventListener("click", function() 
      {
         window.location.href=url;
         });
   });        
   @* $(document).ready(()=>
   {
    var cart_amount=cart_data.length;
    
   $("#count-cart").text(cart_amount);

   });   *@
</script>