@using Newtonsoft.Json;
@using System.Text.RegularExpressions;
@{ 
    Layout = "_UserLayout";
    
    var banners=ViewBag.banners;

    var products = ViewBag.products as List<Product>; 

    var prominent_products = ViewBag.prominent_products as List<Product>;
    
    var categories = ViewBag.categories as List<Category>;
    
    var brands=ViewBag.brands as List<Brand>;
  
    var blogs = ViewBag.blogs as List<Blog>;
    
    var count_reviews=ViewBag.count_reviews as Dictionary<string,int>;
    
    var slider_content=ViewBag.slider_content as string;

    var news_letter_message =ViewBag.NewsLetterMessage as string;

    int news_letter_status =-1;

    if(ViewBag.NewsLetterStatus!=null)
    {
        news_letter_status=Convert.ToInt32(ViewBag.NewsLetterStatus);
    }
        
    string user_id=this.ViewContext.HttpContext.Session.GetString("UserName");
    
    string product_chosen="";

    int current_bg=-1;

    List<string> bg_colors=new List<string>(){"bg-primary","bg-red","bg-purple","bg-yellow","bg-green"};
    }

 <div
       class="bs-toast toast fade hide toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
       data-bs-dismiss="toast"
       style="cursor: pointer; position: fixed; top: 20px; right: 20px; z-index: 5000;"
       data-delay="3000"
       data-bs-autohide="true" 
       data-bs-delay="3000"       
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold" id="toast-title"></div>
                        </div>
                        
                        <div class="toast-body" id="toast-message">
                        
                        </div>
                        
                        </div>

       <div class="page-content">
    <!--start carousel-->
    <section class="slider-section">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true"></button>
        @for(int i=1;i<banners.Count;i++)
        {
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i"></button>
          @* <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></button> *@
          }
        </div>
        <div class="carousel-inner">
        @for(int i=0;i<banners.Count;i++)
        {   
          current_bg+=1;
           if(current_bg>bg_colors.Count-1) 
          {current_bg=0;
          }
            string bg_color = bg_colors[current_bg];
           
            string active_status=i==0?"active":""; 
            
 <div class="carousel-item @active_status @bg_color">
  <div class="row">
    <div class="col-12">
      <img src="@banners[i]?.Image.Substring(banners[i]?.Image.IndexOf("wwwroot")+("wwwroot".Length+1)).Replace("\\","/")" 
           class="img-fluid d-block w-100" 
           alt="..." 
           style="object-fit: cover; height:auto;">
    </div>
  </div>
</div>
          }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!--end carousel-->


    <!--start Featured Products slider-->
    <section class="section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Featured Products</h3>
          @* <p class="mb-0 text-capitalize">The purpose of lorem ipsum</p> *@
        </div>
        <div class="product-thumbs">
        @foreach(var product in products)
        { 

        string regex_product=Regex.Replace(product.ProductName, @"[^\w\d+,]", "-");

        if(product.Status=="Hết hàng")
        {
            continue;
        }

        <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="#" id="info-product" data-product-id="@product.Id" data-product-name="@regex_product" title="View Detail"><i class="bi-info-circle"></i></a>
                <a href="#" class="quick-view-link" data-product-id="@product.Id" id="detail-product" data-bs-toggle="modal" title="Add Cart" data-bs-target="#QuickViewModal-@product.Id"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
              @if(product.Backavatar.Contains("https") || product.Backavatar.Contains("http"))
              {
                <img src="@product.Backavatar" class="card-img-top" alt="..." >
              }
              else
              {
            <img src="~/@product.Backavatar.Substring(product.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" class="card-img-top" alt="..." >
            
              }
          </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
              <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
                <h6 class="mb-1 fw-bold product-name">@product.ProductName</h6>
                </a>
                @* <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div> *@
                <p class="mb-0 h6 fw-bold product-price">$@product.Price</p>
              </div>
            </div>
          </div>
          }
          @* <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="javascript:;"><i class="bi bi-heart"></i></a>
                <a href="javascript:;"><i class="bi bi-basket3"></i></a>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewModal"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="product-details.html">
                <img src="@Url.Content("~/user_layout/images/featured-products/02.webp")" class="card-img-top" alt="...">
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">Product Name</h6>
                <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
                <p class="mb-0 h6 fw-bold product-price">$49</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="javascript:;"><i class="bi bi-heart"></i></a>
                <a href="javascript:;"><i class="bi bi-basket3"></i></a>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewModal"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="product-details.html">
                <img src="@Url.Content("~/user_layout/images/featured-products/03.webp")" class="card-img-top" alt="...">
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">Product Name</h6>
                <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
                <p class="mb-0 h6 fw-bold product-price">$49</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="javascript:;"><i class="bi bi-heart"></i></a>
                <a href="javascript:;"><i class="bi bi-basket3"></i></a>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewModal"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="product-details.html">
                <img src="@Url.Content("~/user_layout/images/featured-products/04.webp")" class="card-img-top" alt="...">
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">Product Name</h6>
                <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
                <p class="mb-0 h6 fw-bold product-price">$49</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="javascript:;"><i class="bi bi-heart"></i></a>
                <a href="javascript:;"><i class="bi bi-basket3"></i></a>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewModal"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="product-details.html">
                <img src="@Url.Content("~/user_layout/images/featured-products/05.webp")" class="card-img-top" alt="...">
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">Product Name</h6>
                <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
                <p class="mb-0 h6 fw-bold product-price">$49</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="javascript:;"><i class="bi bi-heart"></i></a>
                <a href="javascript:;"><i class="bi bi-basket3"></i></a>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewModal"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="product-details.html">
                <img src="@Url.Content("~/user_layout/images/featured-products/06.webp")" class="card-img-top" alt="...">
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">Product Name</h6>
                <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
                <p class="mb-0 h6 fw-bold product-price">$49</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="javascript:;"><i class="bi bi-heart"></i></a>
                <a href="javascript:;"><i class="bi bi-basket3"></i></a>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewModal"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="product-details.html">
                <img src="@Url.Content("~/user_layout/images/featured-products/07.webp")" class="card-img-top" alt="...">
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">Product Name</h6>
                <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
                <p class="mb-0 h6 fw-bold product-price">$49</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="javascript:;"><i class="bi bi-heart"></i></a>
                <a href="javascript:;"><i class="bi bi-basket3"></i></a>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewModal"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
              <a href="product-details.html">
                <img src="@Url.Content("~/user_layout/images/featured-products/08.webp")" class="card-img-top" alt="...">
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">Product Name</h6>
                <div class="ratings mb-1 h6">
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
                <p class="mb-0 h6 fw-bold product-price">$49</p>
              </div>
            </div>
          </div> *@
        </div>
      </div>
    </section>
    <!--end Featured Products slider-->
    
    @foreach(var product in products)
    {

  string regex_product=Regex.Replace(product.ProductName, @"[^\w\d+,]", "-");

 <div class="modal fade" id="QuickViewModal-@product.Id" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content rounded-0">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-12 col-xl-6">
              <div class="wrap-modal-slider">
                <div class="slider-for" id="slider-images">
                @if(!string.IsNullOrEmpty(product.Frontavatar))
                {
                 <div>
                    <img src="@product.Frontavatar" alt="" class="img-fluid">
                  </div>
                  }
                @if(!string.IsNullOrEmpty(product.Backavatar))
                {
                 <div>
                    <img src="@product.Backavatar" alt="" class="img-fluid">
                  </div>
                  }
                @foreach(var image in product.ProductImages)
                {
                  <div>
                    <img src="@image.Avatar" alt="" class="img-fluid">
                  </div>
                  @* <div>
                    <img src="@Url.Content("~/user_layout/images/product-images/02.jpg")" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="@Url.Content("~/user_layout/images/product-images/03.jpg")" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="@Url.Content("~/user_layout/images/product-images/04.jpg")" alt="" class="img-fluid">
                  </div> *@
                  }
                </div>

                <div class="slider-nav mt-3" id="slider-images-nav">
            @if(!string.IsNullOrEmpty(product.Frontavatar))
                {
                 <div>
                    <img src="@product.Frontavatar" alt="" class="img-fluid">
                  </div>
                  }
                @if(!string.IsNullOrEmpty(product.Backavatar))
                {
                 <div>
                    <img src="@product.Backavatar" alt="" class="img-fluid">
                  </div>
                  }
                    @foreach(var image in product.ProductImages)
                    {
                    <div>
                    <img src="@image.Avatar" alt="" class="img-fluid">
                  </div>    
                    }
                  @* <div>
                    <img src="@Url.Content("~/images/product-images/01.jpg")" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="@Url.Content("~/images/product-images/02.jpg")" alt="" class="img-fluid">                    
                  </div>
                  <div>
                    <img src="assets/images/product-images/03.jpg" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="assets/images/product-images/04.jpg" alt="" class="img-fluid">
                  </div> *@
                </div>

              </div>

            </div>
            <div class="col-12 col-xl-6">
              <div class="product-info">
              <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
                <h4 class="product-title fw-bold mb-1" id="product-detail-title">@product.ProductName</h4>
                </a>
                <p class="mb-0" id="product-detail-description">@(Html.Raw(product.Description))</p>
                @* <div class="product-rating">
                  <div class="hstack gap-2 border p-1 mt-3 width-content">
                    <div><span class="rating-number">4.8</span><i class="bi bi-star-fill ms-1 text-success"></i></div>
                    <div class="vr"></div>
                    <div>162 Ratings</div>
                  </div>
                </div> *@
                <hr>
                <div class="product-price d-flex align-items-center gap-3">
                  <div class="h4 fw-bold" id="product-detail-price-@product.Id">$@product.Price</div>
                  @* <div class="h5 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h4 fw-bold text-danger">(70% off)</div> *@
                </div>
                <p class="fw-bold mb-0 mt-1 text-success">inclusive of all taxes</p>
                <div class="more-colors mt-3">
                  <h6 class="fw-bold mb-3">More Colors</h6>
                  <div class="d-flex align-items-center gap-2 flex-wrap" id="product-detail-colors">
                    @foreach(var color in product.Variants.DistinctBy(x=>x.Color))
                    { 
                        if(color.Color==null)
                      {
                        continue;
                      }
                      <div class="color-box color-border" style="background-color:@color.Color?.Colorname" 
                      title="@color.Color?.Colorname" data-color-id="@color.Color?.Id" data-color-name="@color.Color?.Colorname"></div>
                    @* <div class="color-box bg-red"></div>
                    <div class="color-box bg-primary"></div>
                    <div class="color-box bg-yellow"></div>
                    <div class="color-box bg-purple"></div>
                    <div class="color-box bg-green"></div> *@
                    }
                  </div>
                </div>

                <div class="size-chart mt-3">
                  <h6 class="fw-bold mb-3">Select Size</h6>
                  <div class="d-flex align-items-center gap-2 flex-wrap" id="product-detail-sizes">
                    @foreach(var size in product.Variants.DistinctBy(x=>x.Size))
                    {
                    if(size.Size==null)
                    {
                        continue;
                    }

                    <div class="">
                        <button class="color-size" type="button" class="rounded-0" style="white-space:normal;wordWrap:break-word;" data-size-name="@size.Size?.Sizename" data-size-id="@size.Size?.Id">@size.Size?.Sizename</button>
                    </div>
                    }
                  </div>
                </div>
                <div class="cart-buttons mt-3">
                  <div class="buttons d-flex flex-column gap-3 mt-4">
                    <a href="javascript:;" id="add-cart-detail" data-product-id="@product.Id" data-product-name="@product.ProductName" class="btn btn-lg btn-dark btn-ecomm px-5 py-3 flex-grow-1"><i
                        class="bi bi-basket2 me-2"></i>Add to Cart</a>
                    @* <a href="javascript:;" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3"><i
                        class="bi bi-suit-heart me-2"></i>Wishlist</a> *@
                  </div>
                </div>
                @* <hr class="my-3"> *@
                @* <div class="product-share">
                  <h6 class="fw-bold mb-3">Share This Product</h6>
                  <div class="d-flex align-items-center gap-2 flex-wrap">
                    <div class="">
                      <button type="button" class="btn-social bg-twitter"><i class="bi bi-twitter"></i></button>
                    </div>
                    <div class="">
                      <button type="button" class="btn-social bg-facebook"><i class="bi bi-facebook"></i></button>
                    </div>
                    <div class="">
                      <button type="button" class="btn-social bg-linkden"><i class="bi bi-linkedin"></i></button>
                    </div>
                    <div class="">
                      <button type="button" class="btn-social bg-youtube"><i class="bi bi-youtube"></i></button>
                    </div>
                    <div class="">
                      <button type="button" class="btn-social bg-pinterest"><i class="bi bi-pinterest"></i></button>
                    </div>
                  </div>
                </div> *@
              </div>
            </div>
          </div>
          <!--end row-->
        </div>

      </div>
    </div>
  </div>
    }


    <!--start tabular product-->
    <section class="product-tab-section section-padding bg-light">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Latest Products</h3>
          @* <p class="mb-0 text-capitalize">The purpose of lorem ipsum</p> *@
        </div>
        <div class="row">
          <div class="col-auto mx-auto">
            <div class="product-tab-menu table-responsive">
              <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#new-arrival" type="button">New
                    Arrival</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="pill" data-bs-target="#best-sellar" type="button">Best
                    Sellar</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="pill" data-bs-target="#trending-product"
                    type="button">Trending</button>
                </li>
                @* <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="pill" data-bs-target="#special-offer" type="button">Special
                    Offer</button>
                </li> *@
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="tab-content tabular-product">
          <div class="tab-pane fade show active" id="new-arrival">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
            @foreach(var product in products)
            {
            string regex_product=Regex.Replace(product.ProductName, @"[^\w\d+,]", "-");

            if(product.Status=="Hết hàng")
            {
                continue;                                
            }
              <div class="col">
                <div class="card">
                  <div class="position-relative overflow-hidden">
                    <div
                      class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                      <a href="javascript:;" id="info-product" title="View Detail" data-product-id="@product.Id" data-product-name="@regex_product"><i class="bi-info-circle"></i></a>
                      <a href="javascript:;"  class="quick-view-link" title="Add Cart" data-product-id="@product.Id"  data-bs-toggle="modal" data-bs-target="#QuickViewModal-@product.Id"><i
                          class="bi bi-zoom-in"></i></a>
                    </div>
                    <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
   @if(product.Backavatar.Contains("https") || product.Backavatar.Contains("http"))
              {
                <img src="@product.Backavatar" class="card-img-top" alt="...">
              }
              else
              {
                <img src="~/@product.Backavatar.Substring(product.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" class="card-img-top" alt="..." >
            }                    </a>
                  </div>
                  <div class="card-body">
                    <div class="product-info text-center">
                      <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
                      <h6 class="mb-1 fw-bold product-name">@product.ProductName</h6>
                      </a>
                    
                      <p class="mb-0 h6 fw-bold product-price">$@product.Price</p>
                    </div>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          <div class="tab-pane fade" id="trending-product">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
              @foreach(var product in products)
              {
            string regex_product=Regex.Replace(product.ProductName, @"[^\w\d+,]", "-");

            if(product.Status=="Hết hàng")
            {
                continue;
            }
              <div class="col">
                <div class="card">
                  <div class="position-relative overflow-hidden">
                    <div
                      class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                      @* <a href="javascript:;"><i class="bi bi-heart"></i></a> *@
                      <a href="javascript:;" id="info-product" title="View Detail" data-product-id="@product.Id" data-product-name="@regex_product"><i class="bi-info-circle"></i></a>
                      <a href="javascript:;"  class="quick-view-link" title="Add Cart" data-product-id="@product.Id"  data-bs-toggle="modal" data-bs-target="#QuickViewModal-@product.Id"><i
                          class="bi bi-zoom-in"></i></a>
                    </div>
                    <a href="product-details.html">
   @if(product.Backavatar.Contains("https") || product.Backavatar.Contains("http"))
              {
                <img src="@product.Backavatar" class="card-img-top" alt="...">
              }
              else
              {
                <img src="~/@product.Backavatar.Substring(product.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" class="card-img-top" alt="..." >
            }                    </a>
                  </div>
                  <div class="card-body">
                    <div class="product-info text-center">
                      <h6 class="mb-1 fw-bold product-name">@product.ProductName</h6>
                      @* <div class="ratings mb-1 h6">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </div> *@
                      <p class="mb-0 h6 fw-bold product-price">$@product.Price</p>
                    </div>
                  </div>
                </div>
              </div>
             }
            </div>
          </div>
        
           <div class="tab-pane fade" id="best-sellar">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
              @foreach(var product in products)
              {

            string regex_product=Regex.Replace(product.ProductName, @"[^\w\d+,]", "-");            

            if(product.Status=="Hết hàng")
            {
                continue;                                
            }

              <div class="col">
                <div class="card">
                  <div class="position-relative overflow-hidden">
                    <div
                      class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                      @* <a href="javascript:;"><i class="bi bi-heart"></i></a> *@
                      <a href="javascript:;" id="info-product" title="View Detail" data-product-id="@product.Id" data-product-name="@regex_product"><i class="bi-info-circle"></i></a>
                      <a class="quick-view-link" data-product-id="@product.Id" href="javascript:;" title="Add Cart" data-bs-toggle="modal" data-bs-target="#QuickViewModal-@product.Id"><i
                          class="bi bi-zoom-in"></i></a>
                    </div>
                    <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
   @if(product.Backavatar.Contains("https") || product.Backavatar.Contains("http"))
              {
                <img src="@product.Backavatar" class="card-img-top" alt="...">
              }
              else
              {
                <img src="~/@product.Backavatar.Substring(product.Backavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" class="card-img-top" alt="..." >
              }                    
              </a>
            </div>
                  <div class="card-body">
                    <div class="product-info text-center">
                    <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=regex_product})">
                      <h6 class="mb-1 fw-bold product-name">@product.ProductName</h6>                      
                    </a>
                      @* <div class="ratings mb-1 h6">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </div> *@
                      <p class="mb-0 h6 fw-bold product-price">$@product.Price</p>                      
                    </div>
                  </div>
                </div>
              </div>
             }
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--end tabular product-->


    <!--start features-->
    <section class="product-thumb-slider section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">What We Offer!</h3>
          @* <p class="mb-0 text-capitalize">The purpose of lorem ipsum</p> *@
        </div>
        <div class="row row-cols-1 row-cols-lg-4 g-4">
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-primary border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-primary">
                  <i class="bi bi-truck"></i>                  
                </div>
                <h5 class="fw-bold">Free Delivery</h5>
                @* <p class="mb-0">Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p> *@
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-danger border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-danger">
                  <i class="bi bi-credit-card"></i>
                </div>
                <h5 class="fw-bold">Secure Payment</h5>                
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-success border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-success">
                  <i class="bi bi-minecart-loaded"></i>
                </div>
                <h5 class="fw-bold">Free Returns</h5>
                @* <p class="mb-0">Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p> *@
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-warning border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-warning">
                  <i class="bi bi-headset"></i>
                </div>
                <h5 class="fw-bold">24/7 Support</h5>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
    </section>
    <!--end features-->
   <!--start modal-->
   

    <!--start special product-->
    @* <section class="section-padding bg-section-2">
      <div class="container">
        <div class="card border-0 rounded-0 p-3 depth">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="assets/images/extra-images/promo-large.webp" class="img-fluid rounded-0" alt="...">
            </div>
            <div class="col-lg-6">
              <div class="card-body">
                <h3 class="fw-bold">New Features of Trending Products</h3>
                
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-transparent px-0">Contrary to popular belief, Lorem Ipsum is not simply
                    random text.</li>
                  <li class="list-group-item bg-transparent px-0">All the Lorem Ipsum generators on the Internet tend.
                  </li>
                  <li class="list-group-item bg-transparent px-0">There are many variations of passages of Lorem Ipsum
                    available.</li>
                    <li class="list-group-item bg-transparent px-0">There are many variations of passages
                      available.</li>
                </ul>
                <div class="buttons mt-4 d-flex flex-column flex-lg-row gap-3">
                  <a href="javascript:;" class="btn btn-lg btn-dark btn-ecomm px-5 py-3">Buy Now</a>
                  <a href="javascript:;" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> *@
    <!--start special product-->


    <!--start Brands-->
    @* <section class="section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Shop By Brands</h3>
          <p class="mb-0 text-capitalize">Select your favorite brands and purchase</p>
        </div>
        <div class="brands">
          <div class="row row-cols-2 row-cols-lg-5 g-4">
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/01.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/02.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/03.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/04.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/05.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/06.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/07.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/08.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/09.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="assets/images/brands/10.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
      </div>
    </section> *@
    <!--end Brands-->

    <!--start cartegory slider-->
    @* <section class="cartegory-slider section-padding bg-section-2">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Top Categories</h3>
          <p class="mb-0 text-capitalize">Select your favorite categories and purchase</p>
        </div>
        <div class="cartegory-box">
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="assets/images/categories/01.webp" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Kurtas</h5>
                  <h6 class="mb-0 product-number fw-bold">856 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="assets/images/categories/02.webp" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Heels</h5>
                  <h6 class="mb-0 product-number fw-bold">169 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="assets/images/categories/03.webp" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Lehenga</h5>
                  <h6 class="mb-0 product-number fw-bold">589 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="assets/images/categories/04.webp" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Plazzos</h5>
                  <h6 class="mb-0 product-number fw-bold">278 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="assets/images/categories/05.webp" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Makeup</h5>
                  <h6 class="mb-0 product-number fw-bold">985 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="assets/images/categories/06.webp" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Shoes</h5>
                  <h6 class="mb-0 product-number fw-bold">489 Products</h6>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </section> *@


    <section class="product-thumb-slider subscribe-banner p-5">
      <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
          <div class="text-center">
            <h3 class="mb-0 fw-bold text-white">Get Latest Update by <br> Subscribe Our Newslater</h3>
            <div class="mt-3">
              <input type="text" id="subscribe-email" class="form-control form-control-lg bubscribe-control rounded-0 px-5 py-3"
                placeholder="Enter your email">
            </div>
            <div class="mt-3 d-grid">
              <button type="button" class="btn btn-lg btn-ecomm bubscribe-button px-5 py-3" id="subscribe-letter">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--subscribe banner-->


    <!--start blog-->
    <section class="section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 fw-bold">Latest Blog</h3>
          <p class="mb-0 text-capitalize">Check our latest news</p>
        </div>
        <div class="blog-cards">
          <div class="row row-cols-1 row-cols-lg-3 g-4">
        @foreach(var blog in blogs)
        {
            <div class="col">
              <div class="card">
                <img src="assets/images/blog/01.webp" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                  <div class="d-flex align-items-center gap-4">
                    <div class="posted-by">
                      <p class="mb-0"><i class="bi bi-person me-2"></i>@blog.Author</p>
                    </div>
                    <div class="posted-date">
                      <p class="mb-0"><i class="bi bi-calendar me-2"></i>@blog.Createddate</p>
                    </div>
                  </div>
                  <h5 class="card-title fw-bold mt-3">@blog.Blogname</h5> 
                  <p class="mb-0">@blog.GetFirstPContent()</p>
                  <a href="blog-read.html" class="btn btn-outline-dark btn-ecomm mt-3">Read More</a>
                </div>
              </div>
            </div>
            }
            @* <div class="col">
              <div class="card">
                <img src="assets/images/blog/02.webp" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                  <div class="d-flex align-items-center gap-4">
                    <div class="posted-by">
                      <p class="mb-0"><i class="bi bi-person me-2"></i>Virendra</p>
                    </div>
                    <div class="posted-date">
                      <p class="mb-0"><i class="bi bi-calendar me-2"></i>15 Aug, 2022</p>
                    </div>
                  </div>
                  <h5 class="card-title fw-bold mt-3">Blog title here</h5>
                  <p class="mb-0">Some quick example text to build on the card title and make.</p>
                  <a href="blog-read.html" class="btn btn-outline-dark btn-ecomm mt-3">Read More</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="assets/images/blog/03.webp" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                  <div class="d-flex align-items-center gap-4">
                    <div class="posted-by">
                      <p class="mb-0"><i class="bi bi-person me-2"></i>Virendra</p>
                    </div>
                    <div class="posted-date">
                      <p class="mb-0"><i class="bi bi-calendar me-2"></i>15 Aug, 2022</p>
                    </div>
                  </div>
                  <h5 class="card-title fw-bold mt-3">Blog title here</h5>
                  <p class="mb-0">Some quick example text to build on the card title and make.</p>
                  <a href="blog-read.html" class="btn btn-outline-dark btn-ecomm mt-3">Read More</a>
                </div>
              </div>
            </div> *@
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
   
function checkout()
{
const checkoutButton = document.getElementById("checkout");


if(checkoutButton)
{
   checkoutButton.addEventListener("click", () => {
    window.location.href = "@Url.Action("Checkout", "Checkout")";    
  });
 }
}

function isValidEmail(email) 
{
            const emailRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return emailRegex.test(email.trim());
  }
   document.addEventListener("DOMContentLoaded", function () 
   {
     var boxes = document.querySelectorAll(".color-box");

     var sizes = document.querySelectorAll(".color-size");

     var list_variant=[];

     var toast_header = document.getElementById("toast-title");

     var toast_message = document.getElementById("toast-message");

     var newsletter_mess='@news_letter_message';

     var newsletter_status=@news_letter_status;

     if(newsletter_status==1)
     {
    toast_header.innerHTML="Newsletter Subscription";
    toast_message.innerHTML=newsletter_mess;
    var toastEl = document.querySelector('.toast');
    toastEl.classList.add('bg-success');
    var toast = new bootstrap.Toast(toastEl);
    toast.show();
     }
     else if(newsletter_status==0)
     {
       toast_header.innerHTML="Newsletter Subscription";
       toast_message.innerHTML=newsletter_mess;
       var toastEl = document.querySelector('.toast');
       toastEl.classList.add('bg-danger');
       var toast = new bootstrap.Toast(toastEl);
       toast.show();
     }

     boxes.forEach(box => {
      box.addEventListener('click', () => {
        boxes.forEach(b => b.classList.remove('clicked'));
        box.classList.add('clicked');
        var color_id=box.getAttribute("data-color-id");
        @* for(let i =0;i<list_variant.length;i++)
        {
          let current_variant = list_variant[i];
          
          let current_variant_color=list_variant[i].Colorid;

          let current_variant_size=list_variant[i].Sizeid;

          let current_variant_price = list_variant[i].Price;

          if(current_variant_color==color_id)
          {
            sizes.forEach(size=>{
             
             var data_size_id=size.getAttribute("data-size-id");

             if(data_size_id!=current_variant_size)
             {
              size.classList.add("disabled");

              size.classList.remove("click-size");
             }
             else
             {
              size.classList.remove("disabled");
              if(size.classList.contains("click-size"))
              {
                document.getElementById(`product-detail-price-${current_variant.Productid}`).innerHTML='$'+current_variant_price;
              }
             }
            });
          } 
          
        } *@
      });
    });

      sizes.forEach(size => {
       size.addEventListener('click', () => 
       {
        sizes.forEach(b => b.classList.remove('click-size'));
        
        size.classList.add('click-size'); 
        
        var size_id=size.getAttribute("data-size-id");
        
        @* for(let i =0;i<list_variant.length;i++)
        {
          let current_variant = list_variant[i];
          
          let current_variant_color=list_variant[i].Colorid;

          let current_variant_size=list_variant[i].Sizeid;

          if(current_variant_size==size_id)
          {
            boxes.forEach(box=>{
             var data_color_id=box.getAttribute("data-color-id");
             if(data_color_id!=current_variant_color)
             {
              box.classList.add("disabled");
              
              box.classList.remove("clicked");
             }
             else
             {
              box.classList.remove("disabled");
              if(box.classList.contains("clicked"))
              {
                document.getElementById(`product-detail-price-${current_variant.Productid}`).innerHTML='$'+current_variant.Price;
              }
             }
            });
          }        
        } *@
      });
    });
    
    document.querySelectorAll(".quick-view-link").forEach(link=>{      
   link.addEventListener("click",()=>{
   const product_id=link.getAttribute("data-product-id");
   var variant_url='@Url.Action("VariantProduct","HomePage",new{id="__product_id__"})';
   variant_url=variant_url.replace("__product_id__",product_id);

  boxes.forEach(box => 
      {
        box.classList.remove('clicked');
        
        box.classList.remove('disabled');        
      });

  sizes.forEach(size=>
  { 
   size.classList.remove('click-size');
   
   size.classList.remove('disabled');
  });


   $.ajax({
      url:variant_url,
      type:'Get',
      contentType:false,
      processData:false,
      success:function(response)
      {
        //alert("Load Variant Product Successfully:"+JSON.stringify(response.variant));
        list_variant=JSON.parse(response.variant);
      },
      error:function(xhr,status)
      {
        alert(xhr.responseText);
      }
   }); 

   });
    });

    
    var info_products=document.querySelectorAll("#info-product");

    info_products.forEach((product,index)=>
    {
       product.addEventListener("click",()=>{
       var product_name=product.getAttribute("data-product-name");
       var url= '@Url.Action("ProductDetail","ProductDetail",new{product_name="__product_name__"})';
       url=url.replace("__product_name__",product_name);
       window.location.href=url;              
       });
    });

    var add_cart_details=document.querySelectorAll("#add-cart-detail");

    add_cart_details.forEach((cart,index)=>{
     cart.addEventListener("click",()=>{
     var product_id=cart.getAttribute("data-product-id");
     var product_name=cart.getAttribute("data-product-name");
     var product_price = document.getElementById(`product-detail-price-${product_id}`).innerHTML;
     var size_value='';
     var color_value ='';

     boxes.forEach(box=>{
       if(box.classList.contains("clicked"))
       {
        color_value=box.getAttribute("data-color-name");
       }
     });

     sizes.forEach(size=>{
       if(size.classList.contains("click-size"))
       {
        size_value=size.getAttribute("data-size-name");
       }
     });


     if(color_value=='' || size_value=='')
     {
       document.getElementById("toast-title").innerHTML="Add To Cart";
                
                document.getElementById("toast-message").innerHTML="Please select color and size";
                
                var toastEl = document.querySelector('.toast');

                toastEl.classList.add('bg-danger');
               
                var toast = new bootstrap.Toast(toastEl);
                
                toast.show();
          return;
     }
     
     let formData =new FormData();

     formData.append("product_id",product_id);

     formData.append("product_name",product_name);

     formData.append("price",product_price);

     formData.append("color",color_value);

     formData.append("size",size_value);

     formData.append("quantity",1);

      $.ajax({
            url:"@Url.Action("addItemToCart","Cart")",
            type:"POST",
            data:formData,
            contentType: false,
            processData: false,
            success:function(response)
            {   
                const status=response.status;
                const message = response.message;
                const data=response.data;
            if(data!="")
             {  
                $("#count-cart").text(data.length);

                sessionStorage.setItem("count-cart",data.length);
               
                var section_url="@Url.Action("SubCartPartialView","Cart")";
                   $.ajax({
                    url:section_url,
                    type:"POST",
                    success: function(partialHtml) {
                      $('#sub-cart-section').html(partialHtml);   
                      checkout();
                    }
                });
            }
                document.getElementById("toast-title").innerHTML="Add To Cart";

                document.getElementById("toast-message").innerHTML=message;

                var toastEl = document.querySelector('.toast');

                if(status==1)
                {
                if(toastEl.classList.contains('bg-danger'))
                {
                  toastEl.classList.remove('bg-danger');
                }
                 toastEl.classList.add('bg-success');
                }
                
            else
            { 
              if(toastEl.classList.contains('bg-success'))
                {
                  toastEl.classList.remove('bg-success');                  
                }
                
                toastEl.classList.add('bg-danger');
            }
                var toast = new bootstrap.Toast(toastEl);
                
                 toast.show();
            },
            error:function(xhr, status, error)
            { 
                document.getElementById("toast-title").innerHTML="Add To Cart";
                document.getElementById("toast-message").innerHTML=xhr.responseText;
                var toastEl = document.querySelector('.toast');
                toastEl.classList.add('bg-danger');
                var toast = new bootstrap.Toast(toastEl);                
                toast.show();
            }
        });
     });
    });

    var subscribeButton = document.getElementById("subscribe-letter");
    subscribeButton.addEventListener('click',()=>{
      var email = document.getElementById("subscribe-email").value.trim();
      
      var toastEl = document.querySelector('.toast');

      if(email=='' || !isValidEmail(email))
      {
      toast_header.innerHTML="Subscribe Newsletter";

      toast_message.innerHTML="Your Email is not valid";

      toastEl.classList.add('bg-danger');
               
      var toast = new bootstrap.Toast(toastEl);
                
      toast.show();

      return;

      }
      var url="@Url.Action("ConfirmEmail","HomePage",new{email="__email__"})";
      
      url=url.replace("__email__",email);
   
   $.ajax({
                    url:url,
                    type:"GET",
                    contentType: false,
                    processData: false,
                    success: function(response) 
                    {
                    toast_header.innerHTML="Subscribe Newsletter";

                      if(response.status==1)
                      {
                      toast_message.innerHTML=response.message;
                      
                      toastEl.classList.add('bg-success');
                      toastEl.classList.remove('bg-danger');
                      }
                      else
                      {
                        toast_message.innerHTML=response.message;
                        toastEl.classList.add('bg-danger');
                        toastEl.classList.remove('bg-success');
                      }
                      var toast = new bootstrap.Toast(toastEl);
                      toast.show();
                    },
                    error:(xhr,status,error)=>{
                      console.log("Error occurred while confirming email:",error);
                      toast_message.innerHTML="Error occurred while confirming email: "+xhr.responseText;
                      toastEl.classList.add('bg-danger');
                      toastEl.classList.remove('bg-success');
                      var toast = new bootstrap.Toast(toastEl);
                      toast.show();
                    }
                });
    });
    });

   
    

      @* function handleDetailProduct(productId)
    {  
        event.preventDefault();
        var url="@Url.Action("productDetailInfo", "HomePage",new{id="productId"})";
        url=url.replace("productId",productId);        
        $.ajax({  
                url: url,
                type: 'GET',
                contentType: false,
                processData: false, 
                success:function(response)
                { 
                  var status=response.status;
                  var message=response.message;
                  var data = JSON.parse(response.product);
                  var productName = data.ProductName;
                  var productPrice = data.Price;
                  var productDescription = data.Description;
                  var frontAvatar = data.Frontavatar;
                  var backAvatar = data.Backavatar;
                  var imageList=[];
                  var colorList=[];
                  var sizeList =[];
                  var variant = data.Variants;
                  imageList.push(data.Frontavatar);
                  imageList.push(data.Backavatar);
                  var imageListUrl = data.ProductImages;
                  
                  for (var i = 0; i < imageListUrl.length; i++) 
                  {
                    imageList.push(imageListUrl[i].Avatar);
                  }

                  for(var i =0;i<variant.length;i++)
                  {
                try
                {
                  var current_variant = variant[i];
                  
                  if(current_variant.Color!=null)
                  {
                    if(colorList.indexOf(current_variant.Color.Colorname)===-1)
                    {
                      colorList.push(current_variant.Color.Colorname);
                    }
                  }

                  if(current_variant.Size!=null)
                    {
                      if(sizeList.indexOf(current_variant.Size.Sizename)===-1)
                      {
                        sizeList.push(current_variant.Size.Sizename);
                      }
                    }
                   
                }
                catch(e)
                {
                    alert("error in loop"+e.message);
                }
            }

                let product_detail_title = document.getElementById("product-detail-title");

                let product_detail_price = document.getElementById("product-detail-price");

                let product_detail_description = document.getElementById("product-detail-description");

                let product_detail_colors = document.getElementById("product-detail-colors");

                let product_detail_sizes = document.getElementById("product-detail-sizes");

                let product_detail_images = document.getElementById("slider-images");

                let product_detail_images_nav = document.getElementById("slider-images-nav");

                product_detail_title.innerHTML = productName;

                product_detail_price.innerHTML = "$"+productPrice;

                product_detail_description.innerHTML = productDescription;
                
                product_detail_colors.innerHTML ="";

                
                product_detail_sizes.innerHTML ="";

                
                product_detail_images.innerHTML ="";

                
                product_detail_images_nav.innerHTML ="";


              for(let i=0;i<colorList.length;i++)
              {
                var colorDiv = document.createElement("div");
                
                colorDiv.classList.add("color-box");
                
                var colorName = colorList[i].toLowerCase();
                
                colorDiv.style.backgroundColor = colorName;
                
                product_detail_colors.appendChild(colorDiv);

              }

              for(let i=0;i<sizeList.length;i++)
              { 
                var sizeDiv = document.createElement("div");

                var sizeBtn =document.createElement("button");

                sizeBtn.classList.add("rounded-0");
                
                sizeBtn.innerHTML = sizeList[i];  
                
                sizeBtn.type="button";
                
                sizeBtn.style.whiteSpace = "normal"; 
                
                sizeBtn.style.wordWrap = "break-word";    
                
                sizeBtn.style.padding = "5px 5px"; 
                
                sizeBtn.style.boxSizing = "border-box";

                 sizeDiv.appendChild(sizeBtn);

                 product_detail_sizes.appendChild(sizeDiv);                 
              }
                          
    } *@

  </script>

   
